[2014-03-10 18:27] duckmatt opened #1 "Make visual studio plugin a vs package rather than addin"
Also needs to be tidied up as it's a complete mess

[2014-03-10 18:29] duckmatt opened #2 "Give visitors access to the config map"
Currently there's a config, but right now nothing is using it, could do with a record being passed to all visitors which contains the config

[2014-03-13 21:51] #1 closed, assigned to duckmatt

[2014-03-17 13:50] #2 closed, assigned to nobody

[2014-03-29 12:16] duckmatt opened #3 "Configurable as to whether to type check code or not"
There are a few circumstances where we need to lookup more information on an identifier.

Examples:

[code]

We need to lookup Number to find out whether it's a discriminated union case or a new identifier.

[code]

We need to lookup the attribute to make sure it's the `LiteralAttribute` from FSharp.Core (could have been redefined).

Type checking the code makes the linter significantly slower, so

[2014-04-01 12:31] duckmatt opened #4 "Implement code.tuple_size rule from Mascot"
see: http://mascot.x9c.fr/distrib/mascot.html

[2014-04-01 12:32] duckmatt opened #5 "Implement code.ignore_unit rule from Mascot"
see: http://mascot.x9c.fr/distrib/mascot.html

[2014-04-01 12:32] duckmatt opened #6 "Implement code.complex_condition rule from Mascot"
see: http://mascot.x9c.fr/distrib/mascot.html

[2014-04-01 12:33] duckmatt opened #7 "Implement code.catch_all rule from Mascot"
see: http://mascot.x9c.fr/distrib/mascot.html

[2014-04-01 12:33] duckmatt opened #8 "Implement code.builtin_types rule from Mascot"
see: http://mascot.x9c.fr/distrib/mascot.html

[2014-04-01 12:33] duckmatt opened #9 "Implement interface.method_count rule from Mascot"
see: http://mascot.x9c.fr/distrib/mascot.html

[2014-04-01 12:34] duckmatt opened #10 "Implement code.useless_binding rule from Mascot"
see: http://mascot.x9c.fr/distrib/mascot.html

[2014-04-01 12:38] duckmatt opened #11 "Add more rules to XmlDocumentation analyser"
https://github.com/duckmatt/FSharpLint/blob/master/src/FSharpLint.Rules/XmlDocumentation.fs

Rules off the top of my head to be added:

Module comment
Function (not inside of a binding expression) comment
Member comment
Type comment
Enum case comment
Union case comment
Record field comment

[2014-04-01 12:43] duckmatt opened #12 "Implement metrics.halstead rule from Mascot"
see: http://mascot.x9c.fr/distrib/mascot.html

[2014-04-01 12:43] duckmatt opened #13 "Implement metrics.mccabe rule from Mascot"
see: http://mascot.x9c.fr/distrib/mascot.html

[2014-04-01 20:32] duckmatt opened #14 "Add resource file for error messages"
Error messages should be multi lingual, simplest solution is to put them in a resource file

[2014-04-01 23:03] #4 closed, assigned to duckmatt

[2014-04-01 23:03] #9 closed, assigned to duckmatt

[2014-04-03 12:01] #6 closed, assigned to duckmatt

[2014-04-15 17:09] duckmatt opened #15 "Create a control flow graph"
A control flow graph will make analysing code in certain ways much simpler than using the visitor approach.

The goals I have in mind with it are so that we can: detect code that will never be hit and write hints in the config file like HLint's

[2014-04-16 19:41] duckmatt opened #16 "Get wiki to a state where it can be used to easily set up and understand the tool"

[2014-04-21 19:09] #15 closed, assigned to duckmatt

[2014-05-24 17:10] #3 closed, assigned to nobody

[2014-05-24 17:17] duckmatt opened #17 "Fix visual studio extension"
The extension needs to have any fluff taken out of it. Just a single button on the tools menu to run the lint on all open projects, display the errors in the error window, and display the progress in the output window. The extension right now is broken because of a bad dependency on FParsec

[2014-05-24 17:19] duckmatt opened #18 "Get the project building and running the tests correctly on linux"
Want to have continuous integration set up

[2014-05-25 15:16] #14 closed, assigned to duckmatt

[2014-06-02 21:27] #18 closed, assigned to duckmatt

[2014-06-04 19:51] #17 closed, assigned to duckmatt

[2014-06-08 11:00] duckmatt opened #19 "Lambda functions incorrectly triggering max nested depth rule"
e.g. fun _ _ _ _ _ _ _ _ -> None will have a depth greater than 8, reason for this is that the lambda is represented as (fun _ -> match _ with | _ -> fun _ -> match _ with | _ -> etc)

[2014-06-09 22:06] #19 closed, assigned to nobody

[2014-06-15 14:12] #10 closed, assigned to nobody

[2014-06-30 12:30] #13 closed, assigned to duckmatt

[2014-09-01 17:05] duckmatt opened #21 "Create Github pages site using the pages branch"
Currently all of the documentation is in markdown, parts of it have become difficult to read and could do with further styling. We need to use the current markdown documentation to generate HTML documentation on the [pages branch](https://github.com/duckmatt/FSharpLint/tree/gh-pages). It looks like [FSharp.Formatting](https://github.com/tpetricek/FSharp.Formatting) is the tool for this job, lookin

[2014-09-01 17:11] #7 closed, assigned to nobody

[2014-09-07 19:50] #21 closed, assigned to nobody

[2014-09-08 10:33] marklam opened #22 "ParseException for projects targetting F# 4.3.1.0 on Windows"
If I create a new console project in VS2013, set the target F# Runtime to 4.3.0.0, and build it, then I can run FSharpLint.exe against it and no warning are produced.
If I then set the runtime to 4.3.1.0 and rebuild, then running FSharpLint produces a crash:
`Failed to parse file Program.fs
Exception Message:
Exception of type 'FSharpLint.Framework.Ast+ParseException' was thrown.
Exception Stack T

[2014-09-09 09:00] #22 closed, assigned to nobody

[2014-09-11 23:00] duckmatt opened #23 "Tests have magically stopped passing"
Tests have stopped passing with no changes to the project. Seems to be another issue with the wrong FSharp.Core being picked up (not having .sigdata and .optdata in the same directory), strange as it never required any references before - and a backup of the project i have still passes all the tests but I can't spot a difference between them...

[2014-09-12 08:17] #23 closed, assigned to duckmatt

[2014-09-19 17:07] #16 closed, assigned to nobody

[2014-09-19 17:20] duckmatt opened #24 "Fix the FSharpLint.Typography analyser"
Currently FSharpLint.Typography is turned off by default in the config, this is because at the moment it warns far too easily (hundreds of errors for most projects).

What I see that needs to be done:
- `MaxCharactersOnLine` should be given a higher default than `80`, bumping it up to `120` seems reasonable - keeps the code from vertical scroll in most windows.
- `TrailingWhitespaceOnLine` needs t

[2014-09-19 17:27] duckmatt opened #25 "Add a way of supplying the directory containing FSharp.Core to the tool"
Right now the directory containing `FSharp.Core.dll` with `.sigdata` and `.optdata` files needs to be found to be able to parse any projects. Currently the tool looks for the directory by [searching for the default locations](https://github.com/duckmatt/FSharpLint/blob/master/src/FSharpLint.Application/FSharpCoreLookup.fs)

The directory may not be located in one of the default locations so it sho

[2014-09-23 17:22] #25 closed, assigned to nobody

[2014-09-25 12:43] duckmatt opened #26 "Setup nuget package"
There's now a nuget package: https://www.nuget.org/packages/FSharpLint/

The generation of the `.nupkg` file should be automatically created after building the project - integrated into the `/build.fsx` file

[2014-09-27 19:43] #24 closed, assigned to duckmatt

[2014-09-27 22:32] #26 closed, assigned to duckmatt

[2014-09-29 12:24] duckmatt opened #27 "Targets file needs to be able to pass the FSharp.Core directory to the MSBuild task"
The MSBuild task has an optional argument that let's the user specify the directory of `FSharp.Core` if the tool is unable to look it up itself. Right now the targets file in the nuget package has no way of letting the user specify that property from their project file - it needs to be possible to specify the directory using an MSBuild property that the targets file will try to pass to the MSBuild

[2014-10-01 14:32] dsyme opened #28 "Consider moving to "fsprojects"?"
Let us know if you'd like to move to http://github.com/fsprojects.  It can be useful to

(a) help attract multiple contributors
(b) make it a more canonical component in the F# ecosystem
(c) eventually graduate to "fsharp" once very stable, widely used, well tested, well documented etc.

To request to be moved, add an entry here: https://github.com/fsprojects/FsProjectsAdmin

[2014-10-03 23:15] #28 closed, assigned to nobody

[2014-10-06 16:52] duckmatt opened #29 "We need more hints"
Currently there's [very few hints (20 in total)](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Framework/DefaultConfiguration.FSharpLint)

Adding new hints is going to be an ongoing process, a good start will be to see what we can convert from the default [HLint rules](https://github.com/ndmitchell/hlint/blob/master/data/Default.hs) to F# hints. It would be great to build up

[2014-10-11 15:37] sergey-tihon opened #30 "The project needs a logo"
I have no idea how logo for lint project should looks like, but I pretty sure that FSharpLint project and twitter account needs logo. And I have some options for you ;)

Option 1 (I like this one):
![image](https://cloud.githubusercontent.com/assets/1197905/4603108/3a1b9478-515c-11e4-9920-9ea0be7e2888.png)
Option 2:
![image](https://cloud.githubusercontent.com/assets/1197905/4603110/4437befa-515c-

[2014-10-11 17:23] #30 closed, assigned to nobody

[2014-10-14 12:16] duckmatt opened #32 "Add support for SuppressMessageAttribute"
Support needs to be added for [SuppressMessageAttribute](http://msdn.microsoft.com/en-us/library/system.diagnostics.codeanalysis.suppressmessageattribute%28v=vs.110%29.aspx) so that rules can be disabled from within the code

[2014-10-15 02:29] bleis-tift opened #34 "failwith/failwithf warning support"
feature request.

[code]

I want to detect these cases.

[2014-10-16 20:29] duckmatt opened #36 "False positive for hints matched in method calls"
[code]

This currently warns with `x=true can be refactored into x` because it's interpreting the named parameter as checking for equivalence rather than being assigned a value

[2014-10-17 00:05] #34 closed, assigned to duckmatt

[2014-10-21 20:47] #36 closed, assigned to nobody

[2014-10-22 12:39] duckmatt opened #38 "False positives for UselessBinding rule"
The useless binding rule checks for any values that are then bound to the same name, there are cases where this is not useless i.e. a mutable value is bound to the same name but as immutable. Lint errors for this rule should only occur when an immutable value is bound to the same name as immutable

[2014-10-22 14:08] archaeron opened #39 "The configuration file Settings.FSharpLint is not read"
Our Settings.FSharpLint is in the same folder as the fsproj file (and we tried putting it one folder up) and the settings aren't applied.

[2014-10-22 14:16] archaeron opened #40 "add a FAKE task"
we are using FSharpLint like this at the moment

[code]

it would be nice to use it like this:

[code]

[2014-10-22 21:16] #39 closed, assigned to nobody

[2014-10-24 18:00] #32 closed, assigned to duckmatt

[2014-10-25 15:00] #38 closed, assigned to nobody

[2014-10-26 21:50] duckmatt opened #43 "Support SuppressMessageAttribute in plaintext visitors"
Currently the `SuppressMessageAttribute` isn't supported by the `FSharpLint.Typography` analyser because it doesn't have access to the AST which is what is being used to get the `SuppressMessageAttribute`s. Seems like the AST needs to be analysed initially to get a map of `SuppressMessageAttribute` to `range` for the plaintext visitors.

[2014-10-27 17:52] duckmatt opened #44 "Lint FSharpLint"
Now that `SuppressMessageAttribute` is supported it seems like a good time to set up the projects in the solution to be linted as part of the build process and failing the build if there are any warnings

[2014-10-31 13:41] duckmatt opened #45 "New rule to find uses of global mutable state"
"Find all uses of global mutable state in all code and referenced DLLs"

Seems like we'll need to inspect the MSIL of the referenced assemblies to find (in c# terms) public static mutable fields, and encapsulated static mutable fields that can be mutated via the public interface

[2014-10-31 22:43] #40 closed, assigned to nobody

[2014-11-11 17:07] SteveGilham opened #46 "Linkage issues using v0.1.6"
I created a new F# console application with main file consisting of simply

`let x = 23`
`printfn "%d" x`

and added the 0.1.6 package to the project with the NuGet Gui.  On building it I get errors every time I try

**In VS2010SP1 on both Vista and Win7**

This is reproducible on different machines, just so long as I'm using VS2010

[code]

**In VS2013 Update 3**

[code]

The consistent thing is

[2014-11-13 13:18] duckmatt opened #47 "Resolve reference to FSharp.Core directory when no version specified"
Currently the FSharp.Core directory is looked up using the version number inside of the reference in the project file e.g. `<Reference Include="FSharp.Core, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">` will use `4.3.0.0`. The version number is not required so this case needs to be handled.

I'm thinking that it should try and find the most recent version of FSharp.Core if n

[2014-11-13 13:20] duckmatt opened #48 "MSBuild task needs to log a warning when it fails to run the lint tool"
Currently the result is ignored: `FSharpLint.Application.RunLint.parseProject parseInfo  |> ignore`, this means that when the MSBuild task fails there's no indication that anything has gone wrong, the result needs to be handled and logged as a warning

[2014-11-13 13:51] duckmatt opened #49 "Add documentation for the FAKE task"
Currently we have docs for:

* Using the command line tool.
* Using the MSBuild task.

It would be great to also have the usage of the [FAKE task](https://github.com/fsprojects/FSharpLint/tree/master/src/FSharpLint.FAKE) documented:

* Using the command line tool.
* Using the MSBuild task.
* Using the FAKE task.

[2014-11-14 11:32] #48 closed, assigned to duckmatt

[2014-11-14 16:25] #43 closed, assigned to duckmatt

[2014-11-14 21:41] #27 closed, assigned to duckmatt

[2014-11-14 22:53] #47 closed, assigned to duckmatt

[2014-11-16 10:21] SteveGilham opened #51 "Possible compatibility issue with the F# Power Tools extension (split from issue#46)"
In VS2013 Update 3 or 4 with F# Power Tools extension v1.6.1, which links in the later FSharp.Compiler.Service version, installed:

[code]

[2014-11-17 13:38] #46 closed, assigned to duckmatt

[2014-11-21 19:50] SteveGilham opened #52 "Linting fails on .net 3.5 projects built against FSharp.Core 2.3.0.0"
I created a default console application in VS2013u4, and set it to .net 3.5 (full profile), so F# core version 2.3.0.0.
I added F#Lint 1.10.0 through the NuGet UI in Visual Studio.
I then did a rebuild and got

[code]

(this is the simplified repro case of a problem I hit in more complicated circumstances)

Repeating the same steps for VS2010 (which links against core version 2.0.0.0) gives no pro

[2014-11-23 23:17] #52 closed, assigned to nobody

[2014-11-24 14:01] 7sharp9 opened #53 "Could this be integrated with a nuget?"
It would be a nice touch if adding this as a nuget package would modify the fsproj file to insert the task and target.

[2014-11-25 16:32] #53 closed, assigned to nobody

[2014-11-26 17:54] #51 closed, assigned to nobody

[2014-12-03 23:45] duckmatt opened #54 "Add XSD for the configuration XML"
Adding an XSD will document the structure of a config file and also let users validate their config files

[2014-12-12 17:45] duckmatt opened #55 "Ignore files"
Add a section to the configuration file that lets users specify files not to be linted

[2014-12-12 17:48] duckmatt opened #56 "Simplify the configuration file"
Currently the configuration file is more difficult to use than it needs to be as it tried to have a very similar format to StyleCop's configuration. A simpler type safe approach (allowing for an xsd not letting the user enter anything that shouldn't be possible) outweighs imo the benefits of the configuration mimicking StyleCop

[2014-12-16 11:03] 7sharp9 opened #57 "Error on running on MonoDevelop"
Running on MonoDevelop I get the following error:

[code]

[2014-12-23 13:18] #57 closed, assigned to nobody

[2014-12-31 20:16] duckmatt opened #58 "Expose a function in the API for linting single files"
Currently all that's exposed is a function for linting entire projects, I'm looking to set up a web page to lint F# snippets so this would be required

[2014-12-31 20:24] duckmatt opened #59 "Option to use only untyped parse tree"
At the moment type checking on entire projects is done to retrieve information on symbols used in just a few rules often for minor edge cases. It would be good to have the option to turn this off for a slightly less precise but faster lint.

[2015-01-01 10:47] #58 closed

[2015-01-02 13:14] #49 closed

[2015-01-02 13:17] duckmatt opened #61 "Failing to generate documentation"
The documentation is not able to be generated as the `FSharp.Compiler.Service` reference in `docs\tools\generate.fsx` is not up to date

[2015-01-02 22:57] duckmatt commented on #61
f274ab7955bb2785547e87f9b1d84ec0b1da31cd

[2015-01-02 22:57] #61 closed

[2015-01-03 10:53] duckmatt opened #62 "Mention how to ignore files in the documentation"
Files can be ignored using the `.fsproj` file, see: https://github.com/fsprojects/FSharpLint/issues/55. This needs to be mentioned somewhere in the documentation

[2015-01-04 14:49] duckmatt opened #63 "Parentheses around expressions matched by hints causing duplicate warnings"
let foo x = if (x = true) then 0 else 1

Generates the following two warnings:

    x=true can be refactored into x
    Error on line 1 starting at column 15
    let foo x = if (x = true) then 0 else 1
                   ^

    x=true can be refactored into x
    Error on line 1 starting at column 16
    let foo x = if (x = true) then 0 else 1
                    ^

It makes sense for only the sec

[2015-01-04 14:53] duckmatt opened #64 "Mention the -source argument in the command line app documentation"
The `-source` argument to the command line application allows for source code to be passed directly to the app to be linted, there's currently no mention of this argument in the docs

[2015-01-06 13:22] #63 closed

[2015-01-07 17:52] duckmatt opened #65 "Stack overflow in FSharp.Compiler on mono"
Stack overflow occurring linting FSharpLint on mono:

	[ERROR] FATAL UNHANDLED EXCEPTION: System.StackOverflowException: The requested operation caused a stack overflow.
	  at (wrapper managed-to-native) object:__icall_wrapper_mono_gc_alloc_obj (intptr,intptr)
	  at (wrapper alloc) object:AllocSmall (intptr)
	  at Microsoft.FSharp.Compiler.ConstraintSolver.consistent@1422 (Microsoft.FSharp.Compile

[2015-01-07 18:06] duckmatt opened #66 "End of line whitespace trimmed in lint warnings"
The end of the line that causes a lint warning is being trimmed, as a result the caret highlighting the error in the code is missing for the `FSharpLint.Typography.TrailingWhitespaceOnLine` rule

Example missing '^':

    Lines should not have trailing whitespace.
    Error in file /Users/travis/build/fsprojects/FSharpLint/src/FSharpLint.Application/ReferenceResolution.fs on line 273 starting at c

[2015-01-08 13:06] duckmatt opened #67 "Option to fail build in FAKE task if any lint warnings"
There needs to be an option to fail a FAKE build if there are any lint warnings, akin to` TreatWarningsAsErrors` in the MSBuild task

[2015-01-08 13:08] duckmatt opened #68 "Aggregate report in FAKE task"
Would be good to have an overview of linting a project output by the FAKE task e.g. number of warnings found

[2015-01-08 13:11] duckmatt opened #69 "RedundantParentheses Analayser"
New analyser to be created to warn on any redundant parentheses, but importantly it needs to recognise where they might be redundant yet acceptable to make the code more readable - perhaps have an option in the config to warn on all redundant parentheses that's off by default

[2015-01-08 13:20] duckmatt opened #70 "Improve the FunctionReimplementation Analyser"
Currently the FunctionReimplementation Analyser highlights where [eta reduction](https://www.haskell.org/haskellwiki/Eta_conversion) can be performed e.g. it will suggest `fun x y -> x + y` can be refactored to `(+)` and `fun x y -> foo x y` to `foo`

We could improve it to also suggest using function composition:

`fun x -> not(isValid(x))` or `fun x -> x |> isValid |> not` can be refactored to `

[2015-01-08 13:21] #29 closed

[2015-01-08 17:50] #66 closed

[2015-01-08 22:03] duckmatt commented on #65
The specific file causing this is `/src/FSharpLint.Framework/HintParser.fs`

[2015-01-09 23:00] duckmatt commented on #65
Adding type annotations 'solved' this: 26b22660e0f49470b499948b5622666d1c3d17b9. see: https://groups.google.com/forum/#!msg/fsharp-opensource/j7HZctXS0iQ/3eORl3FfER4J

[2015-01-09 23:00] #65 closed

[2015-01-11 19:46] #68 closed

[2015-01-11 19:46] #67 closed

[2015-01-18 02:13] #70 closed

[2015-01-18 13:24] duckmatt opened #72 "Add `Enabled` config setting to all analysers"
The following analysers currently do not have an `Enabled` setting:

* `FSharpLint.NameConventions`
* `FSharpLint.SourceLength`
* `FSharpLint.NumberOfItems`
* `FSharpLint.XmlDocumentation`

[2015-01-19 16:19] 7sharp9 opened #73 "Fails with an error on a new console project in Xamarin Studio"
When creating a brand new project *(test)*, and adding the nuget package, the following failure occurs
[code]

[2015-01-26 22:49] duckmatt commented on #73
What system is this on? I've just tried Xamarin Studio on Windows and it's working as expected on there

[2015-01-27 00:44] 7sharp9 commented on #73
Mac Yosemite.

[2015-01-29 01:00] duckmatt commented on #73
Thanks I managed to get the same exception on Ubuntu by building a project using xbuild with the FSharpLint package installed. I've made a commit a8e0b95 that fixes that issue, I'm getting another issue using xbuild now which I'll have a look into:

	/home/matt/dog/packages/FSharpLint.0.1.14/build/FSharpLint.targets:  warning : Lint failed     while analysing /home/matt/dog/dog/dog.fsproj.
    Fai

[2015-01-30 21:43] #72 closed

[2015-01-30 22:17] #64 closed

[2015-01-30 22:27] #62 closed

[2015-02-08 19:05] duckmatt opened #74 "MSBuild paths incorrect"
Paths in MSBuild are not being set relative to the `.fsproj` as you'd expect, but relative to where FSharpLint is being executed. As a result some `.fsproj` files fail to load when they reference a file relative to the `.fsproj`

Noticed here: https://github.com/fsprojects/Paket/pull/589

[2015-02-16 13:18] duckmatt opened #76 "Add acceptance tests for the msbuild and fake tasks"
Currently they're not tested, would be good to have them tested on ci to make sure they're both running correctly on mono

[2015-03-22 00:33] duckmatt commented on #74
Now using FSharp.Compiler.Service to get references etc from the .fsproj files

[2015-03-22 00:33] #74 closed

[2015-03-22 00:35] duckmatt commented on #73
The new issue that was found should be fixed now that we're using FSharp.Compiler.Service to get the reference to FSharp.Core

[2015-03-22 00:35] #73 closed

[2015-03-22 00:37] duckmatt commented on #55
The `.fsproj` approach was abandoned when updating the `.fsproj` to be read by the FSharp.Compiler.Service API, so it will need to be implemented via the configuration file

[2015-03-26 22:56] #44 closed

[2015-04-01 17:11] duckmatt commented on #59
Over twice as fast without running the checker, going to have a look at an asynchronous solution rather than the option to turn it off

[2015-04-17 12:47] 7sharp9 opened #78 "Adding FSharpLint via nuget results in an error on build"
[code]

[2015-04-17 12:50] 7sharp9 commented on #78
Im on `OSX 10.10.3` with Mono `4.0.0 ((detached/d136b79)`

[2015-04-19 21:08] #56 closed

[2015-04-19 21:08] #55 closed

[2015-04-19 21:08] #54 closed

[2015-04-23 17:03] duckmatt commented on #78
Thanks for the report, I'm going to be adding an acceptance test for the MSBuild task so that these errors will get caught on CI

[2015-04-27 12:42] duckmatt commented on #12
Closing as I don't think this is really needed alongside cyclomatic complexity

[2015-04-27 12:42] #12 closed

[2015-04-27 12:44] #8 closed

[2015-04-29 22:49] #76 closed

[2015-04-30 12:25] duckmatt commented on #78
Thanks, this has been fixed and a regression test which runs msbuild/xbuild against a project to check it contains some expected lint warnings has been added: `FunctionalTestMSBuildTask`. This will be included on nuget in release 0.2 which will be up once #59 is complete

[2015-04-30 12:25] #78 closed

[2015-04-30 13:04] 7sharp9 commented on #78
It would be really interesting to have this integrated tightly into XS refactoring hints, I wonder if its possible to reuse the core logic?

[2015-04-30 17:05] duckmatt commented on #78
If the positions of the matched items were added as metadata to the results of analysing the hints then it should be fairly simple for a rearrangement into the proposed solution. The hints are matched analysing the tree from `FSharp.Compiler.Services` so the positions are available - just need to be stored.

One problem with an automatic refactor is that the hints assume the higher order functions

[2015-04-30 17:41] 7sharp9 commented on #78
Thats the thing in the F# addin for XS we already have the parse tree and the checker results.  All I would want to do initially would be to place a warning glyph directly in the editor

Automatic refactoring can be tricky.  For a start you would have to recombine the parsetree with any comments in the code, and pay special attention to line feeds and indentation.  Fantomas tried to do this but it

[2015-05-01 12:27] duckmatt opened #81 "Add a function to lint an AST to the public API"
A function needs to be added to take a config file, file source of an F# file, and the F# file's AST and return a collection of warnings.

The rest of the [API](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Application/RunLint.fs) will need to be cleaned up and a new package will need to be published on nuget (the first release to coincide with version 0.2.0 of the MSBuild ta

[2015-05-01 12:32] duckmatt commented on #78
That would be great. I'll set up a nuget package #81 with some functions added to the API so that the lint can be called with an AST supplied (currently just takes either a project file, F# file path or F# source and builds the tree itself)

[2015-05-04 18:40] #59 closed

[2015-05-12 12:45] duckmatt commented on #78
Do you know how third party assemblies referencing assemblies also used in the solution of the F# addin for XS would be handled e.g. `FSharp.Compiler.Services`, do all packages need to be using compatible versions (I've had an issue before caused by an incompatibility between two different versions)?

[2015-05-12 14:29] 7sharp9 commented on #78
I guess if in doubt an assembly redirect, the F# addin normally uses the latest, and only one assembly would be packaged anyway.  When XS is packaged only one version of each assembly is used.

[2015-05-12 14:30] 7sharp9 commented on #78
(Fantomas works ok, thats referenced via nuget too, I think it currently uses an older version of FCS)

[2015-05-14 17:00] duckmatt commented on #78
Okay great I'll see what happens, I'm hoping to have the package uploaded this weekend

[2015-05-16 23:40] mcgee opened #83 "Settings.FSharpLint file is ignored"
Version of FSLint is 0.1.16, installed via NuGet
I try to override default lint settings. First of all, it seems to be that documentation on config overriding (http://fsprojects.github.io/FSharpLint/index.html) is obsolete, because DefaultConfiguration.FSharpLint has another structure in repository (https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Framework/DefaultConfiguration.

[2015-05-17 08:24] duckmatt commented on #83
Sorry about that, one of the changes for 0.2.0 is an update to make the configuration file simpler and type safe (via an xsd). 0.1.16 still uses the format mentioned in the docs. The old default configuration file can be found here: https://github.com/fsprojects/FSharpLint/blob/17db98dd40cbef82a3b1720c35c2fbef888f2a3d/src/FSharpLint.Framework/DefaultConfiguration.FSharpLint

Your file would work i

[2015-05-17 18:34] mcgee commented on #83
That helped, thank you!

[2015-05-17 18:34] #83 closed

[2015-05-17 21:41] jhamm commented on #11
I will work on this one. jhamm/FSharpLint

* [ ] Module comment
* [ ] Function (not inside of a binding expression) comment
* [ ] Member comment
* [x] Type comment
* [ ] Enum case comment
* [ ] Union case comment
* [ ] Record field comment

[2015-05-18 06:45] duckmatt commented on #11
That would be great.

When I've been writing new rules the easiest way I've found to do it is to add a test you'd expect to generate a lint warning, and another test with the same code fixed to not generate a lint warning. Then you can put a breakpoint on the visitor and run the test under debug to compare the difference in the ASTs to see what needs to be matched against.

Let me know if you have

[2015-05-19 02:42] jhamm commented on #11
Thanks! That's good advice.

[2015-05-21 12:37] duckmatt commented on #11
Thanks @jhamm

[2015-05-21 12:37] #11 closed

[2015-05-21 12:41] duckmatt opened #88 "Fix flaky acceptance test"
The MSBuild task frequently fails, the simplest solution from what I can see is to make sure that the FAKE task and MSBuild task acceptance tests have their own copies of the FSharpLint assemblies rather than sharing them

[2015-05-21 12:45] duckmatt opened #89 "Add XmlDoc config options to only apply the rules to constructs with a given access"
A good addition to the tool would be to add a config option to the XmlDoc rules that allows the user to specify what access the constructs must have for a warning to be generated when the construct has no xml documentation e.g. only warn for public constructs.

[2015-05-26 09:38] cljponies opened #90 "fsharplint crashes VS2013 when Debug Selected Tests run from Test Explorer window"
fsharplint 0.1.16
Visual Studio 2013 Update 4
xUnit.net 2.1.0-beta2-build2981
xUnit.net [Runner: Visual Studio] 2.1.0-beta2-build1055
unquote 3.0.0

I added fsharplint to a F# library project and then referenced that assembly in a separate f# test library project.

I get consistent crash when I use above configuration, and right-click a test in Test Explorer window and select Debug Selected Tests

[2015-05-26 10:16] duckmatt commented on #90
Thanks for reporting this, I'll try to see if I can recreate it

[2015-05-26 14:51] #81 closed

[2015-05-27 12:25] duckmatt commented on #78
An api package is now on nuget: http://www.nuget.org/packages/FSharpLint.Core/

The main part of the api which includes functions to analyse an existing AST are [exposed in this signature file](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Application/Lint.fsi)

[2015-05-28 00:58] cljponies commented on #90
I added by right-clicking References in my project in VS2013, and choosing Manage Nuget Packages...

[2015-05-28 22:14] duckmatt commented on #90
Thanks, seems to crash for me whenever the solution is built via the test explorer

The last visual studio log (but doesn't seem relevant) I get is:

    <entry>
        <record>597</record>
        <time>2015/05/28 19:42:14.827</time>
        <type>Error</type>
        <source>Extension Manager</source>
        <description>Extension will not be loaded because an extension with the same ID &apos;

[2015-05-30 18:52] duckmatt commented on #90
346b026 appears to have fixed this issue on my machine. It would cause msbuild to crash, but only when it was run from within another program and unfortunately didn't output any errors to the msbuild logs

[2015-05-30 18:56] #88 closed

[2015-06-01 08:00] duckmatt commented on #90
Could you try with [0.2.1](https://www.nuget.org/packages/FSharpLint/) please to see if this has been fixed?

[2015-06-01 13:59] dsyme opened #91 "Consider renaming to FsLint"
Hi @duckmatt,

I've been looking at the naming of F# tools and packages.  Although this seems like a minor thing, I'm wondering if you would consider a renaming of "FSharpLint" to "FsLint".

This is because nearly all (non-editor) tooling projects use "FsXyz" naming, e.g. FsLexYacc, FsReveal, FsXaml, FsBlog. In contrast, starting with "FSharp" usually indicates a library, e.g. "FSharp.Core" or "FS

[2015-06-01 22:32] duckmatt commented on #91
Hi Don, I agree. I preferred "FsLint" and when I first started that's what I went with, the reason I ended up changing it is that there is an existing [linux tool with the same name](http://www.linuxjournal.com/content/fslint-annoyingly-vague-useful). I feel since they're different domains that sharing the same name should avoid most confusion but could still cause a little, what do you think?
Tha

[2015-06-02 02:39] dsyme commented on #91
Oh, I see, I just keep the current name then :) all the best, don

[2015-06-02 02:39] #91 closed

[2015-06-04 02:00] jhamm commented on #89
I will work on this one.

[2015-06-04 17:21] jhamm commented on #89
Thanks! This was merged with #93 and can be closed.

[2015-06-04 17:46] duckmatt commented on #89
Thanks @jhamm

[2015-06-04 17:46] #89 closed

[2015-06-05 12:31] duckmatt commented on #90
I'm going to close this as the similar repeatable bug was fixed by this - please let me know if it wasn't fixed for you so I can reopen

[2015-06-05 12:31] #90 closed

[2015-06-08 19:20] duckmatt opened #95 "Look at integrating FSharpLint with existing IDE plugins"
Would be great to have lint integrated into existing IDE plugins as if we have the AST already parsed the lint could be run very quickly - not impacting the build times as it currently does via the msbuild task

https://github.com/fsprojects/VisualFSharpPowerTools

https://github.com/fsharp/xamarin-monodevelop-fsharp-addin

[2015-06-08 20:30] duckmatt opened #96 "Add documentation for the new api"
The github pages docs still reference the old api rather than the [new api](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Application/Lint.fsi)

[2015-06-09 08:26] cljponies commented on #90
I agree. Looks like 0.2.1 has fixed this issue for me. Thanks.

[2015-06-09 08:38] cljponies opened #97 "Deconstructing Single Case Discrimated Union in function arg gives erroneous warning"
Say I have:

[code]

FsharpLint v0.2.1 erroneously gives the following warning:
`Expected camel case identifier but was SingleCaseDU`
with the squiggle in the following line:
`let extractInt (SingleCaseDU myInt) =`

[2015-06-09 12:22] duckmatt commented on #97
Thanks for the report, I'll look into getting this fixed asap and releasing a new nuget package with the fix

[2015-06-10 05:48] duckmatt commented on #97
This is fixed in [0.2.2](https://www.nuget.org/packages/FSharpLint/)

[2015-07-02 09:21] dmich2 opened #98 "FsharpLint is leaking memory with VS2013"
fsharplint 0.2.2
Visual Studio 2013 Update 4
Windows 7 64bit

I'm trying to track down why VS2013 occasionally uses up to 2.6GB of memory even for a fairly tiny F# program. I disabled Visual F# Power Tools and FSharpLint and noticed that devenv.exe used about 320MB.

I just re-added FSharpLint, and now the memory usage is already up to 710MB and growing. It's seems like each time I rebuild devenv

[2015-07-02 12:21] duckmatt commented on #98
Thanks for the report, I'm also able to reproduce this. I think this is because the msbuild task is never unloading the appdomain the linter is being run in - will look further into it when I get home tonight

[2015-07-02 22:34] duckmatt commented on #98
I've updated the [package](https://www.nuget.org/packages/FSharpLint/0.2.3) would you be able to see if the issue is still present? thanks

[2015-07-03 01:11] dmich2 commented on #98
Just tried v0.2.3 and can confirm that bug is fixed.

[2015-07-03 12:03] duckmatt commented on #98
Great, thanks :)

[2015-07-03 12:03] #98 closed

[2015-07-05 10:15] vasily-kirichenko opened #99 "Duplicated warning"
![image](https://cloud.githubusercontent.com/assets/873919/8511276/e735f062-2317-11e5-9338-63041587d90a.png)

[2015-07-05 10:21] duckmatt commented on #99
Thanks for the report

[Location of the issue](https://github.com/fsharp/FSharp.Data/blob/7caa9ed507dc0c69abc39ed438acb5af81080abd/src/Html/HtmlParser.fs#L142)

[2015-07-05 10:34] vasily-kirichenko opened #100 "Class which contains static methods only is considered as an interface"
![image](https://cloud.githubusercontent.com/assets/873919/8511358/57fa872a-231a-11e5-9e2b-b98f0df7eb75.png)

https://github.com/fsharp/FSharp.Data/blob/7caa9ed507dc0c69abc39ed438acb5af81080abd/src/Csv/CsvExtensions.fs#L14

[2015-07-05 10:36] vasily-kirichenko opened #101 ""Useless binding" rule triggers in wrong context"
![image](https://cloud.githubusercontent.com/assets/873919/8511372/d3b6dbde-231a-11e5-9f67-65c776261544.png)

https://github.com/fsharp/FSharp.Data/blob/7caa9ed507dc0c69abc39ed438acb5af81080abd/src/Xml/XmlRuntime.fs#L96

[2015-07-05 11:33] dungpa opened #102 "(Almost) duplicated lint warnings on mutually recursive values"
![image](https://cloud.githubusercontent.com/assets/941060/8511499/19f347e6-231a-11e5-9f47-bc2c3099b567.png)

From the warnings, it's difficult to know which warning is for which function.

Moreover, "Lambda Functions" should be written as "Lambda functions" for consistency with other rules.

Source: https://github.com/fsprojects/VisualFSharpPowerTools/blob/ec6c574281f4103819d421f7e3734f00f1b1c142

[2015-07-05 11:47] dungpa opened #103 "False positives inside pattern matching"
![image](https://cloud.githubusercontent.com/assets/941060/8511532/27c669d2-231c-11e5-81af-18dab90e13dd.png)

Underscore identifiers are perfectly valid inside pattern matching.

Source: https://github.com/fsprojects/VisualFSharpPowerTools/blob/ec6c574281f4103819d421f7e3734f00f1b1c142/src/FSharpVSPowerTools.Core/LanguageService.fs#L58-L61

[2015-07-05 20:24] dungpa opened #104 "FSharpLint.Core package should depend on external NuGet packages"
Normally a library should not swallow dependencies. It should give API consumers a chance to resolve dependencies. We get these warnings in VFPT when using FSharpLint.Core:

It's much better if `FSharpLint.Core` depends on FCS, FParsec i.e. any package it uses.

[2015-07-05 20:31] dungpa opened #105 "Provide default record values for Lint API"
We currently use:

[code]

It would be great if `OptionalLintParameters` record type has a `Default` property (providing minimally useful config) so that we could just use `Lint.lintParsedFile OptionalLintParameters.Default ...`.

Any customization can be easily done with `{ OptionalLintParameters.Default with ... }`.

The same thing could be applied for `FSharpLint.Framework.Configuration.Configu

[2015-07-05 21:30] duckmatt commented on #104
Thanks for reporting this, that's true, I'll get that sorted for when the latest version of the package is uploaded

[2015-07-05 22:01] duckmatt commented on #102
Would it help to have an option that stops a warning from being within the range of another warning of the same type?

I've updated the grammar, I think a lot of the warning messages could do with re-wording at some point

[2015-07-05 22:17] dungpa commented on #102
Yes, it would.

I think names of bindings should be used in warning messages whenever possible.

[2015-07-05 22:33] duckmatt commented on #105
Thanks that's a good suggestion. I've added a `Default` property.

`Configuration = None` will use `Configuration.defaultConfiguration` when linting (I've just added this to the xml doc for the record) so there is no need to pass in a config unless it's custom (custom configs can be loaded using the functions in `FSharpLint.Application.ConfigurationManagement` in `lint.fsi`)

[2015-07-05 22:51] duckmatt commented on #104
Is it possible to handle binding redirects in a visual studio extension? FParsec package on NuGet references 4.0.0.0 and needs a binding redirect to 4.3.0.0, I've built the assemblies targeting 4.3.0.0 and included them in the `lib` directory because binding redirects couldn't be added to the MSBuild task

[2015-07-05 23:27] duckmatt commented on #103
Is this used to make a wildcard more readable? If not why is a wildcard not used as in `GetFormatSpecifierLocations` above? If so it might make sense for underscore rule to only be applied to module level bindings

[2015-07-06 05:04] dungpa commented on #105
Great, thanks.

[2015-07-06 05:06] dungpa commented on #104
VS extensions don't support binding redirects yet. For now, a self-built version of FParsec is OK for us since we haven't had dependencies on FParsec.

[2015-07-06 05:08] dungpa commented on #103
Yes, they have been used as mnemonic wildcards. I think it makes sense to relax the rules in the context of pattern matching.

[2015-07-06 12:27] duckmatt commented on #104
Okay great, the latest version of the package [`0.0.3`](https://www.nuget.org/packages/FSharpLint.Core/) now has `FSharp.Compiler.Services` as a nuget dependency

[2015-07-06 12:27] #104 closed

[2015-07-06 12:28] duckmatt commented on #99
This should be fixed in [`0.0.3`](https://www.nuget.org/packages/FSharpLint.Core/)

[2015-07-06 12:32] duckmatt commented on #100
Thanks for reporting this, it should be fixed in [`0.0.3`](https://www.nuget.org/packages/FSharpLint.Core/)

[2015-07-06 12:33] duckmatt commented on #101
Thanks for reporting this, it should be fixed in [`0.0.3`](https://www.nuget.org/packages/FSharpLint.Core/)

[2015-07-06 14:05] vasily-kirichenko commented on #102
I confirm it's fixed in 0.0.3.

[2015-07-06 14:13] vasily-kirichenko commented on #101
It's not fixed in 0.0.3.

[2015-07-06 14:14] vasily-kirichenko commented on #100
It's not fixed in 0.0.3

[2015-07-06 14:17] vasily-kirichenko commented on #99
It's not fixed in 0.0.3

[2015-07-06 16:53] duckmatt commented on #99
Sorry, I managed to upload assemblies from the wrong directory, I'll get a new package uploaded later today, which will hopefully also include a fix for #103 if i get time tonight

[2015-07-09 16:51] duckmatt opened #106 "API to write configuration to file"
For tools to be able to provide an update-able interface to the configuration they'll need a way to write configuration changes to a file.

Configuration settings will need a reference to what config file they came from in memory (so we only write the necessary overridden settings to the file).

[2015-07-16 21:52] dungpa commented on #103
Fixed in 0.0.4.

[2015-07-16 21:52] #103 closed

[2015-07-16 21:52] #102 closed

[2015-07-17 12:30] #105 closed

[2015-07-17 13:27] vasily-kirichenko opened #108 "Wrong warning in object initializer"
![image](https://cloud.githubusercontent.com/assets/873919/8748077/aa3a6aa2-2ca0-11e5-8982-df1f95481e2d.png)

[2015-07-17 20:45] duckmatt commented on #108
Thanks, seems to occur when there are type arguments

[2015-07-18 12:53] duckmatt commented on #108
This should be fixed in [`0.0.5`](https://www.nuget.org/packages/FSharpLint.Core/0.0.5)

[2015-07-18 18:57] vasily-kirichenko opened #109 "Wrong warning "fun _ -> () can be refactored into ignore""
![image](https://cloud.githubusercontent.com/assets/873919/8763126/d6b793fa-2d97-11e5-8c44-35d83adac9c5.png)
![image](https://cloud.githubusercontent.com/assets/873919/8763132/f88ec534-2d97-11e5-8568-05df3b93fcbe.png)

[2015-07-18 18:58] vasily-kirichenko commented on #108
I confirm it's fixed.

[2015-07-18 18:58] #108 closed

[2015-07-19 07:53] dungpa opened #110 "Publish new FSharpLint.Core version compatible with F# 4.0"
F# 4.0 comes out tomorrow with VS 2015 RTM (July 20, 2015).

We're in process of moving VFPT to F# 4.0. In order to use FSharpLint.Core, we need a new NuGet package that depends on this FCS version https://www.nuget.org/packages/FSharp.Compiler.Service/1.4.0-beta.

The main reason is that there are a few breaking changes on untyped ASTs.

[2015-07-19 11:02] duckmatt commented on #110
Thanks for letting me know, I've added [`0.0.6-beta`](https://www.nuget.org/packages/FSharpLint.Core/0.0.6-beta) which has a dependency on FCS `1.4.0-beta`

[2015-07-19 11:05] duckmatt commented on #109
Thanks, I think this might be something that only type checker is going to be able to handle (it currently doesn't so that needs to be fixed). I might get it so that the non type checked lint will fallback to not giving lambda hints when a parameter in a method

[2015-07-19 14:18] vasily-kirichenko opened #111 "Suggest to use `use` instead of `let` for local IDisposable values"
http://vfpt.uservoice.com/forums/247560-general/suggestions/6785027-suggest-to-use-use-instead-of-let-for-local-id

[2015-07-19 14:21] vasily-kirichenko opened #112 "Warning for shadowed declarations"
http://vfpt.uservoice.com/forums/247560-general/suggestions/6179472-highlight-for-shadowed-declarations

[2015-07-19 14:30] vasily-kirichenko commented on #101
Fixed in 0.0.5

[2015-07-19 14:30] #101 closed

[2015-07-19 14:30] vasily-kirichenko commented on #99
Fixed in 0.0.5

[2015-07-19 14:30] #99 closed

[2015-07-19 14:31] vasily-kirichenko commented on #100
Fixed in 0.0.5

[2015-07-19 14:31] #100 closed

[2015-07-20 06:38] dungpa commented on #110
Thanks. That was quick. It seems there is no API breakage as I worried.

[2015-07-20 06:38] #110 closed

[2015-07-20 16:53] duckmatt commented on #111
Thanks for the suggestion, this would be good to have. I think there are a few edge cases it would need to handle (e.g. `IDisposable` value in `let` binding in a function that returns a object expression which closes over the let binding and disposes of it in its `Dispose` method)

Might also be good for this to warn if `new` is used in a `let` binding so no type checking will need to be done, if

[2015-07-20 16:54] duckmatt commented on #112
Thanks for the suggestion, I think I agree with bryanedds in those comments that it should be disabled by default, but would be good to have

[2015-07-20 16:55] vasily-kirichenko commented on #111
Warning on redundant `new` would be cool (I mean if a type does not implement `IDisposable`).

[2015-07-24 09:07] vasily-kirichenko opened #113 "Wrong suggestion to replace lambda to pointfree constructor application"
![image](https://cloud.githubusercontent.com/assets/873919/8871212/4994c402-31fc-11e5-9752-0b14f2a65081.png)
![image](https://cloud.githubusercontent.com/assets/873919/8871225/66fa3446-31fc-11e5-866b-beefba910fc1.png)

[2015-07-24 09:07] vasily-kirichenko commented on #113
Where `Sha1` is a type.

[2015-07-25 16:01] duckmatt commented on #113
Thanks, I believe this should be possible in F# 4 so the fix will need to check if it's an earlier version (and unfortunately looks like it fix will only be for when type checking is enabled)

[2015-07-26 12:09] dungpa commented on #106
What's status of this issue? It's an important building block to complete FSharpLint integration to VFPT.

[2015-07-26 12:49] duckmatt commented on #106
I'm hoping to have the FSharpLint API side of things done this afternoon

[2015-07-26 12:53] duckmatt opened #115 "References not loaded for type checking of project"
References need to be loaded to correctly type check a project.

[2015-07-26 21:50] duckmatt commented on #106
There's a branch that now has writing configs in memory back to xml implemented, I'm working on a configuration management class that will allow for easily finding the config files for a project, keeping them individually in memory, and updating them on the file system - this will be the backend to any UI used for setting the configuration. Hopefully that should be done this week, and I'll try to

[2015-07-26 21:53] dungpa commented on #106
Cool. Thanks for the update.

There is no need to rush. At least we're making progress :-).

/cc @vasily-kirichenko

[2015-07-29 19:59] duckmatt opened #117 "Hints with messages instead of expression to refactor to suggestions"
Currently hints suggest refactoring one expression into another, it would be good to have the right hand side of a hint possibly contain a message e.g.

    Option.Some ===> m"try to extract value using pattern matching instead."

Warning:

    Found `Option.Some`, try to extract value using pattern matching instead.

[2015-08-06 21:14] dungpa commented on #110
@duckmatt FYI: FCS 1.4.0.1 has been released https://www.nuget.org/packages/FSharp.Compiler.Service/1.4.0.1. From the next version, we can remove `beta` tag from `FSharpLint.Core` NuGet package.

[2015-08-07 12:22] duckmatt commented on #110
Thanks, I'll try to get a new version up this weekend

[2015-08-08 22:51] dungpa opened #118 "Error when executing FSharpLint.Core under unit tests"
I write unit tests that uses FSharpLint.Core at https://github.com/dungpa/PowerTools/tree/lint-tests

I've got this exception when running with Visual Studio test runner:

[code]

Perhaps `FSharpLint.Core` uses some reflection tricks to setup plugins. What do I have to do so that plugin discovery doesn't fail under tests?

[2015-08-09 11:13] duckmatt commented on #118
It will need `FSharpLint.Rules.dll` in the same directory as `FSharpLint.Framework.dll`: https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Framework/LoadVisitors.fs#L32 Looks like this could be causing some problems as it looks like the dlls are getting cached in different directories

If this is problematic I'll look at taking the reflection out as I don't think it's as helpful

[2015-08-09 20:15] dungpa commented on #118
I confirm that these two assemblies are on the same location.

The issue is due to Shadow Copy of assemblies. The test  runs fine using TestDriven.net test runner.

Here is a relevant bit from NUnit website http://www.nunit.org/index.php?p=optionsDialog&r=2.4.8 (emphasis mine):

Would you consider to make this change?

[2015-08-09 23:03] duckmatt commented on #118
Thanks, with [`0.0.6`](https://www.nuget.org/packages/FSharpLint.Core/0.0.6) this should no longer be an issue, this version is also now using fsharp.compiler.service `1.4.0.1`

[2015-08-10 08:08] dungpa commented on #118
Sweet. Thanks.

[2015-08-10 08:08] #118 closed

[2015-08-17 13:15] vasily-kirichenko opened #119 "Local variables may contain underscores"
![image](https://cloud.githubusercontent.com/assets/873919/9305576/15630218-44fb-11e5-8e53-96604f58a883.png)

[2015-08-27 14:06] raymens opened #120 "Not compileable on VS2015 machine"
Installed: VS2015 on a W10 machine including Microsoft Build Tools 2013.

The project **FSharpLint.Console** and **FSharpLint.Application** won't open in VS2015. Opening it causes the text: *The operation could not be completed* to appear. This is the only project I know that causes this on my machine.

This is the error I get when running `build.cmd`:
[code]

[2015-08-27 17:19] duckmatt commented on #120
Thanks, I'm able to repeat the bug when running `build.cmd`. However all the projects appear to be opening for me in VS2015 Professional on Windows 10, what version of VS2015 are you opening it in?

[2015-08-27 17:39] duckmatt opened #121 "FAKE task failing after first run."
First run successfully completes, but after that it fails with the following:

    ..\..\packages\FAKE\tools\FAKE.exe testLintViaFake.fsx Lint
    Building project with version: LocalBuild
    Shortened DependencyGraph for Target Lint:
    <== Lint

    The resulting target order is:
     - Lint
    Starting Target: Lint
    Running build failed.
    Error:
    System.InvalidCastException: Unable

[2015-08-27 18:42] raymens commented on #120
Great!

The issue of the not opening projects was fixed by installing F# Tools 3.1.2. It wasn't actually those 2 projects, after looking into it a bit more I found out it were all the F# projects, so it had to be F# tooling I guessed.

Thanks!

[2015-08-28 07:41] #120 closed

[2015-09-14 12:19] duckmatt opened #122 "Update lint warnings"
Most of the lint warnings can be improved to be more descriptive. I think they should also be changed to be more suggestive, at the moment they're too dictatorial e.g.

Could be more like:

Maybe offer a suggestion too:

If anyone has any improvements to the messages they'd like to see please let me know

The warnings are easy to update, they should all be in the [resources file](https://github.co

[2015-09-16 13:09] 7sharp9 opened #123 "Error on F# project mono / osx"
[code]
Looks to me like an assembly redirect issue on msbuild resolution while creating the project information in FCS.

[2015-09-17 20:22] duckmatt commented on #123
Thanks, confusingly the acceptance test is passing on travis, does it run as expected when msbuild is run via the command line?

[2015-09-20 20:51] duckmatt commented on #117
46b32514d9c7786f6c3c4e30b5e9c5b24bbf0552

[2015-09-20 20:51] #117 closed

[2015-09-21 01:12] willsb opened #124 "Checking for CLS Compliance"
[This MSDN page](https://msdn.microsoft.com/en-us/library/vstudio/bhc3fa7f(v=vs.100).aspx) states  that compilers may check during build-time if classes/methods annotated with the `CLSCompliantAttribute` are indeed CLS compliant and emit a warning if they're not. Currently the C# and VB.net compilers do this checking, but fsc doesn't.

I opened an issue on the fsharp language repository to get thi

[2015-09-21 20:02] duckmatt commented on #124
Hi, this does sound like a good idea. Have you tried running FxCop on an F# assembly? I think that might possibly get you warning for non-CLS compliant code. But it would be great to have a new analyser in the linter to find non-CLS compliant code that's marked as CLS compliant

[2015-09-21 23:48] willsb commented on #124
Good to hear!
I'll start working on it ASAP and let you know of the progress :)

[2015-09-22 12:14] duckmatt commented on #124
Okay great, let me know if you run into any difficulties. One that may crop up is currently the files are analysed on a per file basis, but in your case you'll probably want to know if there's an `CLSCompliantAttribute` in the `AssemblyInfo` file while analysing all other files in a project. This will probably need the `Framework` project updated so that visitors can access the attributes in `Asse

[2015-09-22 12:17] duckmatt commented on #95
In progress here: https://github.com/fsprojects/VisualFSharpPowerTools/pull/1097

[2015-09-22 22:25] duckmatt opened #125 "Stackoverflow when analysing large lists"
Analysing the following causes a stack overflow: `@"let x = [" + (String.concat "" [for _ in 0..2000 -> "0;"]) + "]"`

[2015-09-25 12:25] duckmatt opened #126 "Disallow keywords as identifiers in hints unless within backticks"
For example it's currently possible to write hints such as

    fun () ===> fun _

This confusingly checks for application of unit to an identifier `fun`. To avoid any confusion, keywords should only be allowed as identifiers when in back ticks, e.g. that hint should have to be:

    ``fun`` () ===> ``fun`` _

[2015-09-26 17:58] duckmatt commented on #125
b1cb15f959d9a97fdaad0e936f2915b8b562efbc

[2015-09-26 17:58] #125 closed

[2015-09-26 22:43] #126 closed

[2015-09-29 20:34] archaeron commented on #121
I have this error even when I delete every file in the `.fake`directory. It happened the first time as well.

[2015-09-30 12:21] duckmatt commented on #121
Thanks for letting me know, I'm going to try to get it running in the same app domain as FAKE

[2015-09-30 16:21] archaeron commented on #121
awesome, thanks :)

[2015-10-01 17:52] forki opened #128 "False positive on optional bool parameters"
![image](https://cloud.githubusercontent.com/assets/57396/10228972/e9086714-6875-11e5-8fe0-f0cce87272d3.png)

[2015-10-01 21:51] duckmatt opened #129 "Extend API to give suggestions that can be used to refactor to fix warnings"
https://github.com/fsprojects/VisualFSharpPowerTools/issues/1130

A warning returned from the API should be extended to include optional information on how the warning could be fixed e.g. `from` text, `to` text and positions of both - if there's no value then the fix needs to be done manually/is not yet implemented

[2015-10-01 22:14] dungpa commented on #129
:+1:
I think something like

[code]

 would be enough. Unique identifiers (e.g. FL0001) would be useful if we need special handling for certain suggestions.

[2015-10-02 09:02] forki opened #130 "Property lookup vs. pointless function"
![image](https://cloud.githubusercontent.com/assets/57396/10242937/efe334d6-68f4-11e5-9da6-79a373ebe514.png)

how?

[2015-10-02 12:20] duckmatt commented on #130
Thanks, this is a bug

[2015-10-02 14:50] sideeffffect opened #131 "FSharpLint 0.2.7 fails trying to resolve FSharp.Core 4.4.0.0"
[code]

with FSharpLint `0.2.6` things are OK

[2015-10-02 22:41] duckmatt commented on #131
Thanks for reporting this

[2015-10-07 22:02] OkayX6 opened #132 "Enhance error message"
Hey,

I was looking at this bug https://github.com/fsprojects/VisualFSharpPowerTools/issues/697, and was surprised to see this warning message appear. I think it comes from Lint.
I think it should be a little bit modified: it is perfectly fine to use Uppercase when they're supposed to match a DU case, a literal constant or an active pattern.

![image](https://cloud.githubusercontent.com/assets/116

[2015-10-08 12:20] duckmatt commented on #132
Hi, this is a compiler warning (looks like `Pattern1` active pattern is out of scope), in VFPT the lint suggestions would be preceded by `Lint:` e.g.

![](https://cloud.githubusercontent.com/assets/873919/10359832/d5b40784-6da4-11e5-810e-e39a6d27518a.png)

[2015-10-08 12:40] OkayX6 commented on #132
Aaaah ahah sorry to have bothered you then.

[2015-10-08 12:40] #132 closed

[2015-10-08 12:41] OkayX6 commented on #132
I could suggest it to Visual F#.

[2015-10-08 12:55] duckmatt commented on #132
No worries :)

[2015-10-08 12:57] duckmatt opened #133 "Give rules and analysers identifiers"
Rules and analysers need identifiers, which should be returned as part of a lint warning. This is so that users will be able to easily lookup documentation and specific settings for rules.

Mentioned in: https://github.com/fsprojects/VisualFSharpPowerTools/pull/1097

[2015-10-09 17:49] duckmatt commented on #115
Fixing this should also fix: https://github.com/fsprojects/FSharpLint/issues/131

[2015-10-10 11:28] duckmatt commented on #131
Would you be able to see if [0.2.8-beta](https://www.nuget.org/packages/FSharpLint/0.2.8-beta) fixes this please?

[2015-10-10 13:31] duckmatt commented on #115
https://github.com/fsprojects/FSharpLint/commit/b11e780803581c2ab3bec2c37f57e474c83f1aa6

[2015-10-10 13:31] #115 closed

[2015-10-10 23:03] #106 closed

[2015-10-12 08:41] sideeffffect commented on #131
seems to be OK with `0.2.8-beta`. there is a warning still, but I hope that is harmless:

[code]

[2015-10-12 12:25] duckmatt commented on #131
Thanks, that's good news. That warning seems strange as FSharpLint shouldn't be adding any references to your project, would you be able to change the build log output to `Diagnostic` and have a look to see what assembly is causing the conflict please, that would be very helpful, thanks

[2015-10-12 13:14] sideeffffect commented on #131
http://pasted.co/3b174618

		There was a conflict between "FSharp.Core, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" and "FSharp.Core, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a".
		    "FSharp.Core, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" was chosen because it was primary and "FSharp.Core, Version=4.3.1.0, Culture=neutral, Pu

[2015-10-12 16:43] duckmatt commented on #131
Thank you, I don't believe that warning is related to FSharpLint, adding a binding redirect for `FSharp.Core` in your `app.config` should remove the warning

[2015-10-12 18:39] duckmatt opened #134 "Try using ILmerge for the task dlls"
For the FAKE task and MSBuild task all the lint assemblies are loaded into new separate app domains so they don't re-use any existing assemblies in the host process (MSBuild task picks up assemblies from F# Power Tools), unfortunately it often seems to cause problems, see: https://github.com/fsprojects/FSharpLint/issues/131 and https://github.com/fsprojects/FSharpLint/issues/121 for outstanding cu

[2015-10-12 18:39] sideeffffect commented on #131
how would that look like?

[2015-10-12 18:49] duckmatt commented on #131
It will be similar to the example in here: http://blog.ploeh.dk/2014/01/30/how-to-use-fsharpcore-430-when-all-you-have-is-431/ That should remove your warning, but there was also an error related to having the latest version of F# Power Tools installed when running the MSBuild task - I'm looking into that

[2015-10-13 17:14] duckmatt opened #135 "Partially parse AST when an edit has been made"
If a function was removed from inside another function for example the vast majority of the rules do not need to visit the entire file. To alleviate CPU on any consuming IDEs the code behind the API should only visit the necessary code in the AST

[2015-10-14 12:17] duckmatt commented on #134
This is going to need a new approach, combining the third party assemblies with ILMerge is going to cause a conflict of types etc

[2015-10-18 22:53] duckmatt opened #138 "Improve hint performance"
It looks like it should be possible to improve the performance of the hints as much as getting the overall runtime of lint down by 66%.

First performance improvement to make is to construct a graph of the hints - this will be the hints merged with a single root node and common parts together until a difference is found - somewhat similar to a trie. This will no longer require checking all hints f

[2015-10-19 16:58] duckmatt opened #139 "Expect Unit of Measure types to be camel case"
Unit of measure types are incorrectly expected to be in PascalCase, the standard convention is camelCase. See: https://github.com/Microsoft/visualfsharp/pull/689

[2015-10-21 08:59] sideeffffect commented on #131
I'm sorry, but I probably don't understand
I put the file `app.config`
[code]
into `src/FSharpBarclays`, but I'm still getting the `There was a conflict between "FSharp.Core, ...` error

[2015-10-26 14:00] et1975 commented on #134
Beaware, ILMerged assemblies don't work so well on mono..

[2015-10-26 18:15] et1975 commented on #131
Any resolution/work-around to
[code]
?

[2015-10-26 18:41] duckmatt commented on #131
@sideeffffect Might be worth trying the redirect the other way around (4.3.1 to 4.3.0) as that's how it's currently being resolved on your machine

@et1975 Unfortunately there's no good work-around in place at the moment, these errors are coming up because of the lint picking up other assemblies with the same name in the app domain its running under. If you're on Windows have you tried using the l

[2015-10-26 18:54] et1975 commented on #131
@duckmatt I'm on dual platforms: scripted CI builds running on both windows and linux (works great) and interactive IDE builds from inside of VS.
I didn't realize I can use latest PowerTools alone for linting under VS. Thanks, that works great, I can easily script linting in my build scripts.

[2015-10-27 17:20] jiangzhen3s opened #140 "RulesCanBeReplacedWithComposition bug?"
type ListTree<'a> =
    | Node of 'a * ListTree<'a> list

let rec size (node: ListTree<'a>) =
    match node with
    | Node(_, lst) -> List.fold (fun s -> size >> (+) s ) 1 lst

![qq 20151028011939](https://cloud.githubusercontent.com/assets/317738/10766322/fe614e40-7d11-11e5-8dff-703f959418c0.png)

[2015-10-27 17:49] duckmatt commented on #140
Thanks for the report, I'll have a look into it

[2015-10-28 09:01] jiangzhen3s commented on #140
thanks

[2015-11-07 15:11] waf commented on #140
I ran into this today. If it's helpful, here's the simplest code I could find that triggered the warning:

[code]

[2015-11-07 21:20] duckmatt commented on #140
@waf it is possible to create: `(fun s1 -> (concat s1) >> parse)` which is why I think it is complaining although the suggested code is harder to read so I think this rule will need to be updated to only be suggested in cases where it's clear that it would be of use

[2015-11-08 19:58] zbilbo opened #141 "Object expressions is mistaken for tuple"
code like

let createMyObject a b c d e f =
 MyObject
 (
   Prop1 = a
   Prop2 = b
   Prop3 = c
   Prop4 = d
   Prop5 = e
   Prop6 = f
  )

will then flag "Tuples expected to have maximum X items"...

[2015-11-08 23:07] duckmatt commented on #141
Thanks for the report

[2015-11-09 05:02] bleis-tift commented on #141
Is this the same problem?

![image](https://cloud.githubusercontent.com/assets/169348/11026275/78f8f41e-86ea-11e5-8007-b7175ece8a79.png)

[2015-11-09 09:39] zbilbo commented on #141
Im not sure if the "is this the same problem"-question is for me or @duckmatt, but if it is for me I would say: absolutely no.

The above is related to tuples and as such it is in fact entirely correct according to the definition of this lint-rule to give the shown warning.

Object expressions and tuples are syntactically equal (kind of), but are different.

And of course it might be argued that I

[2015-11-09 13:20] duckmatt commented on #141
The problem behind these issues is that the type checker is not being used for performance reasons and as such at this point can't tell whether `MyObject` is a function or a type.

There was a slight attempt to mitigate this by using the `isAtomic` flag on the function application to try and attempt to tell whether the tuple is for a function or a method/constructor, but that's no guarantee (as yo

[2015-11-09 14:47] zbilbo commented on #141
@duckmatt guessed as much (that it would be pretty hard to dichotomize between objects vs tuples vs otherstuff)...

and its no biggie at all. so a "wont fix" on this issue is more than fine with me...

its not like i will uninstall this fslint & powertools due to this issue not being fixed ;-)

[2015-11-11 22:10] curtnichols commented on #119
It's not just local variables, it's also function arguments. Perhaps more.

[2015-11-12 15:47] TWith2Sugars opened #142 "Merge configs"
I like that I can specify hints etc in a Settings.FSharpLint, however I'd prefer to add to the default rather than carry around the whole hints file.

[2015-11-12 18:16] duckmatt commented on #142
That's a good idea especially as the ignore files section which is structured in the config very similarly already has a add/overwrite option

[2015-11-24 01:36] bleis-tift opened #143 "constructor call is detected as function call"
![image](https://cloud.githubusercontent.com/assets/169348/11355147/19635758-9296-11e5-9aa9-13ffbf986c22.png)

`String(...)` is a constructor.
So the following code is not possible to compile.

[code]

[2015-11-24 13:31] duckmatt commented on #143
Thanks, currently the type checker isn't used in the linter within VFPT making issues like these undetectable - however this should be in progress soon. Also worth nothing that this code is valid in F# 4

[2015-11-27 18:14] duckmatt opened #144 "Direction of the linter"
# Direction

At the moment attempting to maintain this while developing new features has become too difficult for the amount of time I have, and the size of the project has made it difficult others to contribute. I'm planning to do a significant rewrite of the core of the linter as well as moving projects that aren't integral to the linter (MSBuild task and FAKE task) to their own repositories.

T

[2015-11-27 18:32] isaacabraham commented on #144
Having not looked at the codebase in any depth, I can't comment on the internal redesigns your proposing. But from a user point-of-view, I can't speak highly enough of this tool. Ironically one of the lints that I never pay attention to is the lambda length rule :-) Typography I would like to keep as I hate having trailing spaces on lines and lint shows these up nicely.

When I think about lint fr

[2015-11-27 20:50] ploeh commented on #144
Like @isaacabraham, I'm quite happy with the linter as a user, but I wouldn't mind being able to suppress specific warnings. Most of the times, the warnings are reasonable, but occasionally, there are reasons to do things differently than the linter wants. It'd be nice to be able to go: *yes, I've already seen this warning, but in this particular case, I think it's a false positive, so please don'

[2015-11-28 04:02] xavierzwirtz commented on #144
If you could have the linter support selective disabling warnings via a comment, the linter could let you auto insert that comment from an action on the warning.

[2015-11-28 10:40] isaacabraham commented on #144
@ploeh You can disable specific lint warnings through FSharpPowerTools, so I imagine that you can do the same with FSharpLint directly via configuration?

It would be nice to be able to configure lints e.g. lambdas more than n lines rather than just "more than 8 lines" etc.

I'm not a fan of disabling of warnings via comments - I find it pollutes my code, personally I would prefer to keep the two

[2015-11-28 17:50] ploeh commented on #144
@isaacabraham I know that I can disable certain rules, but that's not my point. I want to be able to dismiss specific warnings. Let me share an example.

When implementing an MVC Web API in F#, I have to define a method called `Application_Start` in a class called `Global`. The linter complains about the underscore.

In general I agree that methods and functions shouldn't have underscores in their

[2015-11-28 18:32] isaacabraham commented on #144
@ploeh that makes sense. With code analysis, you could either put a #directive above the code to disable - personally I don't like this as it pollutes the code - or you had a single file where all your "disable here" bits went.

[2015-11-28 22:11] dungpa commented on #144
Writing a linter is hard. You can't please everyone.

#### Add/remove rules

I don't think you should remove existing rules. It's better to have a less ambitious set of default rules, that suits pragmatic styles of F# programmers.

#### Target audience

For the future, I would like to see FSharpLint tailor to new/immediate F# users. It means that the focus should be on shallow and syntactic sugges

[2015-11-28 22:36] isaacabraham commented on #144
@dungpa agree that there is real value for a beginner to F# using this.

[2015-11-29 18:16] duckmatt commented on #141
This has been fixed in [0.0.13](https://www.nuget.org/packages/FSharpLint.Core/) of the API

[2015-11-29 18:17] duckmatt commented on #140
These have been fixed in [0.0.13](https://www.nuget.org/packages/FSharpLint.Core/) of the API

[2015-11-29 18:17] duckmatt commented on #139
This has been fixed in [0.0.13](https://www.nuget.org/packages/FSharpLint.Core/) of the API

[2015-11-29 18:17] #139 closed

[2015-11-29 18:18] duckmatt commented on #130
This has been fixed in [0.0.13](https://www.nuget.org/packages/FSharpLint.Core/) of the API

[2015-11-29 18:19] duckmatt commented on #119
This has been fixed in [0.0.13](https://www.nuget.org/packages/FSharpLint.Core/) of the API

[2015-11-29 18:21] duckmatt commented on #128
This has been fixed in [0.0.13](https://www.nuget.org/packages/FSharpLint.Core/) of the API

[2015-11-29 18:22] duckmatt commented on #135
Closing as if this is done it will be part of the rewrite of the core

[2015-11-29 18:22] #135 closed

[2015-11-29 18:23] #134 closed

[2015-11-29 18:23] #95 closed

[2015-11-30 18:39] duckmatt commented on #144
Thanks for all the comments. It's good to hear that on the whole people are finding it a useful tool.

@isaacabraham it's already possible to [configure the number of lines in a lambda warning](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Framework/DefaultConfiguration.FSharpLint#L190) :)

@ploeh the tool supports `SuppressMessageAttribute` unfortunately this doesn't appear

[2015-12-17 12:24] mexx opened #145 "Wrong suggestion to replace tuple wildcard on object expressions"
![17-12-2015 13-17-36 - tuple lint](https://cloud.githubusercontent.com/assets/378088/11869535/e94836be-a4c0-11e5-93c5-ea5cd8dd9de4.png)

If I follow the suggestion, the code is invalid. Further this suggestion only appears on object expressions. Normal implementation of the interface by the type `B` doesn't get this suggestion.

#### Code

[code]

[2015-12-17 17:39] #145 closed

[2015-12-29 14:26] TeaDrivenDev opened #147 "Single trailing whitespace is not detected"
It takes at least two trailing whitespace characters to trigger the rule; shouldn't one be enough?

![screenshot - 29 12 2015 15_18_47](https://cloud.githubusercontent.com/assets/2247219/12035741/a5e19f04-ae3f-11e5-9ddc-75b4226f3325.png)

(This is FSharpLint in Visual F# Power Tools in Visual Studio 2015.)

[2015-12-29 16:13] duckmatt commented on #147
The number of whitespace characters allowed at the end of the line can be configured here:

![image](https://cloud.githubusercontent.com/assets/3247369/12037327/de4026e4-ae45-11e5-909b-a4e1db82500f.png)

The [default is `1`](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Framework/DefaultConfiguration.FSharpLint#L268) , with `OneSpaceAllowedAfterOperator` it might make sense t

[2015-12-29 16:37] TeaDrivenDev commented on #147
Ah, thanks; I didn't even consider the possibility this might be configurable. ;-) Good; that's that. :-)

[2015-12-29 16:37] #147 closed

[2015-12-30 00:41] smoothdeveloper opened #148 "Found tab character (`\t`) in file. for tabs in a literal string"
IMHO this shouldn't trigger this lint warning:
[code]

(those are tabs but github replace with spaces)

[2015-12-31 16:52] mexx opened #149 "Build fails when F# v3.1 or v3.0 is not installed"
On my machine I only have F# 4.0 and 4.1 installed.
The build fails for all F# projects:

[code]

[2016-01-01 17:52] duckmatt commented on #148
Thanks for the report, I agree that's a bug in that it reports a warning there

[2016-01-01 18:05] duckmatt commented on #149
Looks like this might be because it's not picking up `Microsoft.FSharp.Targets` here:

    <PropertyGroup Condition="Exists('$(MSBuildExtensionsPath32)\..\Microsoft SDKs\F#\3.0\Framework\v4.0\Microsoft.FSharp.Targets')">
        <FSharpTargetsPath>$(MSBuildExtensionsPath32)\..\Microsoft SDKs\F#\3.0\Framework\v4.0\Microsoft.FSharp.Targets</FSharpTargetsPath>
    </PropertyGroup>
    <PropertyGroup

[2016-01-03 20:10] baronfel opened #151 "Question about Paket usage in this project"
Hi Matt, first off thanks so much for this project!  I was looking through it before you messaged on the Fantomas issue where I've got a PR outstanding, and I noticed that you weren't using any paket.references files in your project to declare the dependencies for those projects, and you were having to manually script out your package builds in the build.fsx as a result.  Would you accept a PR to

[2016-01-03 22:26] duckmatt commented on #151
Hi Chester, thanks for pointing this out, I'd definitely accept the PR!

[2016-01-03 22:45] baronfel commented on #151
Great!  I'll try to shoot something your way soon so you can evaluate it.

[2016-01-04 21:06] smoothdeveloper commented on #148
@duckmatt / @mexx great, thanks for quick turnaround!

[2016-01-08 20:17] #148 closed

[2016-01-26 15:55] varon opened #152 "separate warning for lambda length in single inner lambda bindings"
I commonly use a pattern such as this:
[code]

This is a pretty common pattern I use to store data from expensive once-off computations. The major benefits of having shorter lambdas do not apply here - I could easily refactor to bring the parameters to the top of the function, but that would mean repeating the expensive call each time.

Instead, I'd suggest that length checking of such a pattern s

[2016-01-26 18:26] duckmatt commented on #152
Thanks for pointing this case out, I think as you say this should be the default behaviour

[2016-01-31 18:25] duckmatt commented on #121
This has been fixed here: https://github.com/fsprojects/FSharpLint/pull/153 - will be included in next release

[2016-01-31 18:25] #121 closed

[2016-01-31 18:27] duckmatt commented on #123
`FSharp.Commpiler.Services` handles this now, so I believe it will have been fixed in https://github.com/fsprojects/FSharpLint/pull/153 which will be included in the next release

[2016-01-31 18:27] #123 closed

[2016-02-03 23:23] duckmatt commented on #131
These issues should be solved now in the FSharpLint package from 0.2.8 onward

[2016-02-03 23:23] #131 closed

[2016-02-08 12:33] isaacabraham opened #154 "Interfaces with multiple wildcard arguments give incorrect lint"
Given an interface that has a method that requires two arguments, if you call it as folliows you are shown an incorrect lint: -

[code]

The warning is ```... __.Bar(_,_) can be replaced with __.Bar(_)```. But with interfaces you cannot do this - you have to provide both arguments as separate wildcards.

[2016-02-08 18:38] duckmatt commented on #154
Thanks for the report. Are you using the latest version? It has been fixed before here: https://github.com/fsprojects/FSharpLint/issues/145

[2016-02-08 20:29] isaacabraham commented on #154
OK - I'm using VFPT to get access to FSharpLint - I can only assume that this has not yet made it downstream cc: @dungpa

[2016-02-08 20:29] #154 closed

[2016-02-08 21:16] duckmatt commented on #154
Ah, that would explain it, VFPT is currently on 0.0.13 and the fix went into 0.0.14

[2016-02-18 21:22] #140 closed

[2016-02-18 21:22] #130 closed

[2016-02-18 21:22] #128 closed

[2016-02-18 21:22] #5 closed

[2016-02-18 21:23] #122 closed

[2016-02-18 21:24] #119 closed

[2016-03-21 22:23] #149 closed

[2016-03-21 22:42] #144 closed

[2016-03-22 07:50] #141 closed

[2016-04-01 07:56] vasily-kirichenko opened #156 "Update FCS to 2.0.0.8"
Could you please update FCS to version 2.0.0.8 and publish new Nuget package? It seems we in VFPT have stuck here https://github.com/fsprojects/VisualFSharpPowerTools/pull/1353

[2016-04-01 10:13] duckmatt commented on #156
Yep, I'll get a new version up this evening

[2016-04-03 14:26] #156 closed

[2016-04-05 11:47] duckmatt commented on #124
How's this going? If it hasn't been started I think it would probably be worth doing as its own project

[2016-04-06 14:56] #124 closed

[2016-04-20 19:46] robertwharvey opened #158 "Why does FSharpLint prefer || over 'or'?"
One of the possible warnings is "In F# code, use 'e1 || e2' instead of 'e1 or e2'".

What is the rationale there?  Wouldn't the 'or' form be more readable?

[2016-04-21 06:36] duckmatt commented on #158
This looks like a custom hint that has been added to the config you're using - this rule isn't in the tool by default

[2016-04-21 10:33] duckmatt commented on #158
It's a [compiler warning](https://github.com/Microsoft/visualfsharp/blob/1f19d213907d45ca6c5a27aa9cb2910f60b81a9e/src/fsharp/FSharp.Core/prim-types.fsi#L1053)

[2016-04-21 10:33] #158 closed

[2016-04-21 14:52] robertwharvey commented on #158
I know what it is.  Why is it there?

[2016-04-21 14:58] robertwharvey commented on #158
Thanks.

[2016-05-30 18:02] lijunle opened #160 "Provide pre-compile binary."
I search for a long time. Where can I download the pre-compile EXE?

I suppose it will be inside NUGET package, but it does not. :disappointed:

[2016-05-31 12:15] duckmatt commented on #160
Hi, sorry about that, it's not currently hosted anywhere - we'll include it in all future releases of the nuget package (I'll put it in a zip in the releases section on this github when I get home tonight)

[2016-06-03 14:00] lijunle commented on #160
Hey, @duckmatt . Thank you for reply!

I checked the zip in the release page, it is for the source code, any pre-compiled binaries?

[2016-06-12 17:44] duckmatt commented on #160
Hi, it can now be [found here](https://ci.appveyor.com/project/duckmatt/fsharplint-231/build/artifacts), the latest version is pretty experimental (on its way towards a version 1 beta) - if you need an earlier version it'll probably need to be built locally

Thanks for highlighting this, it's good to now have a deploy located somewhere, I'll be looking at cleaning it up a bit as it seems to contai

[2016-06-12 20:30] #138 closed

[2016-06-12 20:30] #160 closed

[2016-06-13 04:09] lijunle commented on #160
@duckmatt Thank you for your great job! 😸

[2016-06-13 22:17] duckmatt commented on #151
Thank you for pointing this out, got around to implementing it recently, please let me know if any of it does not look correct

56302f9584d9e2e463376dfa4ef3e1190fa43f87
ff63e63f8e72f29cb5f60c5e2c982a4980a03f21
69abe6228ca0be7c30cb534a47108a21fa9b8283

[2016-06-13 22:17] #151 closed

[2016-06-13 22:40] duckmatt opened #162 "Cross reference docs to F# design guidelines"
Styling related rules need to be cross referenced in the docs to the [F# org's guidelines](http://fsharp.org/specs/component-design-guidelines/), and if they can't then the rule should be disabled by default

[2016-06-13 22:45] duckmatt commented on #96
Closing as the api has changed again significantly and the fsi files do have xml docs

[2016-06-13 22:45] #96 closed

[2016-06-19 10:17] duckmatt commented on #45
Closing as out of scope for now - could probably be a tool on its own

[2016-06-19 10:17] #45 closed

[2016-07-09 19:09] duckmatt opened #167 "Bring back removed functionality which is waiting for dependency updates"
- [ ] netcore support has been taken out of the build - to be put back in when netcore version of fcs is released
- [x] msbuild acceptance test has been taken out - to be put back in when fcs project cracker targeting fsharp.core >=4.4.0.0 is released

[2016-07-31 14:58] henrikrxn opened #170 "FSharpLint.MSBuild installation and documentation"
### Description

It seems that the documentation at
http://fsprojects.github.io/FSharpLint/MSBuild-Task.html
is outdated compared to how things are set-up when using the v0.4.4 of the FSharpLint.MSBuild NuGet package
### Repro steps
1. In VS2015 I created a new F# Console project
2. Used NuGet to install v0.4.4 of FSharpLint.MSBild
3. Started a build of the solution
### Expected behavior

FSharpLi

[2016-08-01 17:30] duckmatt commented on #170
Thanks for the great report. The documentation is a bit out of date - I'll make this one of my next priorities.

The task *should* just work after a nuget install but unfortunately this is an issue that'll sometimes be hit in Visual Studio. The issue that you're getting is that another application has loaded an earlier version of `FSharp.Compiler.Service` into the same AppDomain, if you're trigger

[2016-08-01 17:57] HenrikRxn commented on #170
Hi Matt

Thanks for the quick reply. Would have liked to give a better report, but my lack of F# knowledge is quite the obstacle here.

I indeed have F# Power Tools (assume this is VFPT?) installed as I when installing VS 2015 wanted to start looking into F#.

I am working on setting up FSharpLint for another OSS project, TDDStud10, which is an OSS version of NCrunch, so using the F# Power Tools F

[2016-08-01 18:31] HenrikRxn commented on #170
Disabled VFPT and everything buiids just fine on my minimal example. Will try TddStud10 next.

[2016-08-01 20:35] duckmatt commented on #170
Hi Henrik,

That sounds like an interesting project. The MSBuild task is currently broken when running MSBuild from the command line unfortunately so app veyor is going to struggle, I wouldn't have expected a stack overflow though, could I get the output of that build please? I'll try to get the MSBuild task's acceptance test passing again as soon as I can

Thanks

[2016-08-02 06:31] HenrikRxn commented on #170
Attached the log file

[Appveyor-log.txt](https://github.com/fsprojects/FSharpLint/files/395356/Appveyor-log.txt)

Reproducing for you should be easy. Clone tddstud10 and add FSharpLint to test F# project

[2016-08-02 20:45] duckmatt commented on #170
Thanks, it's the same error I'm getting from the acceptance test - pretty sure it's down to loading the wrong version of `FSharp.Core`. Hopefully will be able to get something together soon to fix it

[code]

[2016-08-02 23:28] duckmatt commented on #170
[Acceptance test passing now](https://github.com/fsprojects/FSharpLint/pull/169), should be able to clean it up and get a new package up tomorrow night

[2016-08-04 12:51] mbergin opened #171 "Unable to find the file 'FSharp.Core.dll'"
### Description

Found a possible bug today that I wanted to try to fix myself. However I couldn't get the project to build:

- Tests aren't able to find FSharp.Core.dll.
- fsharplint.exe can't find Microsoft.Build.Framework, Version=12.0.0.0.

I'm guessing this is some dependency I don't have. Any troubleshooting tips?

Thanks

### Repro steps

[code]

Unable to find version '3.33.0' of package '

[2016-08-04 12:54] mbergin commented on #171
Full build output:
[build.txt](https://github.com/fsprojects/FSharpLint/files/401645/build.txt)

[2016-08-04 23:00] duckmatt commented on #171
Hi, sorry about this and thanks for the report, looks like an unfortunate series of issues.

The nuget errors you got look like a network problem or nuget being down - the build servers are pulling the dependencies down

The FSharp.Core issue is definitely a bug (only occurring on some setups - a machine I have access to is also producing the same test errors, it's also windows 10, vs 2015 update

[2016-08-04 23:13] duckmatt commented on #170
[Got a new package up](https://www.nuget.org/packages/FSharpLint.MSBuild/0.4.5-beta), would you be able to let me know if this fixes the issue on your machine please? Thank you :)

[2016-08-04 23:47] mbergin commented on #171
Hi. Thanks for checking this out. Here's the fuslogvw output

[code]

[2016-08-04 23:57] mbergin commented on #171
The nuget thing turned out to be my user nuget.config having only the v3 API endpoint. If I change
`<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />`
to `<add key="nuget.org" value="https://nuget.org/api/v2" protocolVersion="2" />`
then it works fine with the checked in version of nuget.exe. I'd hazard a guess the build server has this line.

[2016-08-05 15:15] HenrikRxn commented on #170
Tried the 0.4.5-beta in my current PR

https://github.com/parthopdas/tddstud10/pull/33

It works on my own machine, but not on AppVeyor :-(

Output is attached

Appveyor VS2013 image
https://ci.appveyor.com/project/parthopdas/tddstud10/build/1.0.102/job/5d20m84x77i5n28s
[log-VS2013.txt](https://github.com/fsprojects/FSharpLint/files/404032/log-VS2013.txt)

Appveyor VS2015 image
https://ci.appveyor

[2016-08-05 18:55] duckmatt commented on #171
Great, thank you. I've pushed some changes to master so it should now build and have all tests pass on your machine

[2016-08-05 18:58] duckmatt commented on #170
Sorry about that, just noticed the new app.config wasn't being added to the package. Thanks for attaching those builds, I'll set up some duplicates from a fork and work on getting them passing, I should have it working for when you get back

[2016-08-08 15:14] mbergin commented on #171
Perfect. Works for me now, thanks.

[2016-08-08 15:14] #171 closed

[2016-08-09 21:45] duckmatt commented on #171
Thanks, let me know if you hit any problems looking for that possible bug

[2016-08-10 14:57] mbergin commented on #171
I couldn't reproduce it against master, so I hope it'll disappear from F# Power Tools next time they upgrade FSharpLint.

[2016-08-15 07:59] HenrikRxn commented on #170
@duckmatt Back from vacation. Is there something you need me to test for you?

[2016-08-15 22:19] duckmatt commented on #170
Hey, hope you had a good vacation. Unfortunately I haven't made much progress other than setting up my own appveyor instance on my fork so hopefully I'll be able to take a further look into it. However the issue in your vs2015 instance should be fixed now with the latest package.

Thee stack overflow is odd, [I've something in place to stop it from happening](https://github.com/fsprojects/FSharpLi

[2016-08-17 12:34] duckmatt commented on #171
Ah yes, I recently [added a regression test for that bug](https://github.com/fsprojects/FSharpLint/commit/c124fdf0be7375bc6f360a114f6f4510cba08c7d) and noticed it had been fixed at some point. When the next version of VFPT is released it'll include many improvements to the linter - much more performant and a more sensible default configuration :)

[2016-08-18 12:11] HenrikRxn commented on #170
Hi Matt

I do not know if this is any help or if you allready noticed this.

Added 0.0.4.5 and Appveyor no longer crashes, see https://ci.appveyor.com/project/parthopdas/tddstud10/build/1.0.177

The VS2013 build still has a stackoverflow exception

But the VS2015 build passes and given the same result as when building in VS2015

Please note that all our projects use FSharp.Core 4.3.1.0, i.e. F# 3.

[2016-08-20 22:45] Krzysztof-Cieslak opened #172 "Configuration Manager not working"
I've tried using [ConfigurationManager](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Core/Application/ConfigurationManager.fs) for tracking configurations in FSAC.

Unfortunately `GetConfigurationForProject` always returns default configuration.

After bit of investigation I've realized that the problem is in internal representation of state, `ConfigurationManager` is using

[2016-08-21 13:50] duckmatt commented on #172
Sorry about that. Thank you for the PR, I'll get a new package up. I'll look at cleaning up the configuration api (it seems to be spread/duplicated across multiple files: ConfigurationManager.fs and Lint.fs)

[2016-08-21 13:50] #172 closed

[2016-08-21 13:55] duckmatt commented on #170
There is currently a dependency on FSharp.Core 4.4, although as it's being used as a 'tool' F# 4 only needs to be installed on the machine building the project and the project can still target F# 3.1. I'll have a look at bundling FSharp.Core 4.4 inside the nuget package for the msbuild task

[2016-08-21 14:28] duckmatt commented on #172
Uploaded [`0.4.6`](https://www.nuget.org/packages/FSharpLint.Core/0.4.6), thanks again for the PR :)

[2016-08-21 14:55] duckmatt commented on #172
Had a look at VFPT as I noticed another problem which will be a memory leak of configurations as more projects are opened and closed (never removing on close) which I recall putting a solution in for, and it's using [yet another api on top of the configuration](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Core/Framework/Configuration.fs#L501). I'll merge these apis into a si

[2016-08-24 12:09] haf opened #174 "Usage of PascalCase vs camelCase for Record Field Identifiers"
Hi there,

I've been writing F# for a while now and all my libs are camelCase, as I think they should be. Could we change to camelCase for identifiers?

Relevant: https://github.com/ionide/ionide-vscode-fsharp/issues/148

[2016-08-24 12:31] duckmatt commented on #174
Hi, by libs do you mean namespace names?

[2016-08-24 12:57] haf commented on #174
Sure, stuff like this:

<img width="378" alt="screen shot 2016-08-24 at 14 57 42" src="https://cloud.githubusercontent.com/assets/193115/17931314/22c71d64-6a0b-11e6-8e62-f41151b44a2b.png">

[2016-08-24 13:00] haf commented on #174
The rationale in your docs state:

<blockquote>
Suggested in F# Component Design Guidelines. A record field in C# will be a class property so it makes sense to have it be PascalCase as that's the convention for properties in .NET
</blockquote>

But I don't care about what C# sees my records as, since they aren't used from C#. This is F# and I want something nice looking for F#.

[2016-08-24 14:07] duckmatt commented on #174
The linter hasn't hit `1.0` yet so the rules are still open for considerable change. There's an issue [here for cross referencing and re-evaluating all rules](https://github.com/fsprojects/FSharpLint/issues/162), it would be great to have members of the community with your experience influence the outcome of this.

I can see your point, PascalCase vs camelCase for record fields seems to vary by pr

[2016-09-02 19:31] blumu opened #177 "MSBuild hangs forever with recursive calls to FSharp.Compiler.Service.ProjectCrackerTool.exe"
### Description

I followed instruction to hookup fslint with my project using msbuild.
When building the project msbuild hangs forever. CPU usage spikes to 100% making computer unusable. Process explorer reveals hundreds of copies of `FSharp.Compiler.Service.ProjectCrackerTool.exe` being recursively spawn.

![image](https://cloud.githubusercontent.com/assets/3913258/18216030/21ef7274-7109-11e6-84

[2016-09-02 19:53] duckmatt commented on #177
Hi William, thanks for the report, is the version of FSharpLint [`FSharpLint.MSBuild 0.4.5`](https://www.nuget.org/packages/FSharpLint.MSBuild/)?

[2016-09-02 19:56] duckmatt commented on #170
Hi Henrik, sorry for the slow progress here, I've been putting most of my effort into other tasks. Is this high priority for your project?

[2016-09-02 20:25] blumu commented on #177
Yes. Here is the relevant part from my paket.lock file:
[code]

[2016-09-02 20:32] HenrikRxn commented on #170
Hi Matt

It is not high priority at all.

We can wait, so just relax and have some fun :-)

/Henrik

On Fri, Sep 2, 2016 at 9:56 PM, Matt <notifications@github.com> wrote:

[2016-09-02 20:44] blumu commented on #177
@duckmatt The issue reproes with `0.4.4` but not with `0.4.3` so it must be a regression introduced on Saturday, July 23, 2016 since both versions were released on that day.

[2016-09-02 20:47] blumu commented on #177
With `0.4.3` it actually fails with the following message:
[code]

[2016-09-02 20:58] blumu opened #178 "MSBuild `FSharpCoreDirectory` parameter not supported"
### Description

The `FSharpCoreDirectory` parameter documented at http://fsprojects.github.io/FSharpLint/MSBuild-Task.html is not supported by FSlint.Msbuild. Tried on both version 0.4.3 and 0.4.5.
### Repro steps
- Follow instruction at http://fsprojects.github.io/FSharpLint/MSBuild-Task.html to setup msbuild with Fslint
- Build the project
### Expected behavior

Msbuild completes without errors

[2016-09-02 21:03] duckmatt commented on #177
Thanks for checking - `0.4.3` is broken. I'm unable to reproduce on my machine, what's your environment setup? [Line which should prevent this from happening](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Core/Application/Lint.fs#L228)

[2016-09-02 21:32] duckmatt commented on #177
Ignore my previous comment, have managed to repeat now (was installing via nuget, doing it manually as per the docs triggers the issue)

[2016-09-02 21:45] duckmatt commented on #177
The docs are unfortunately fairly out of date. The code below from the docs:

[code]

Should really be using the targets file as so:

[code]

[2016-09-02 22:19] blumu commented on #177
Thanks, using `<Import>` instead of `<UsingTask>` solved the problem. Performance, though, is pretty bad: it takes longer to analyze one project than building my entire solution. Is this expected?

[2016-09-02 22:34] duckmatt commented on #177
Ah great :).

Yes, that's expected, the linting itself is pretty quick (average 1000 line file is less than 10ms on my low spec laptop). The project cracker (part of `FSharp.Compiler.Service`) which analyses the `.fsproj` slows things down significantly, it's also having to rebuild the AST (using `FSharp.Compiler.Service`) each time the task runs. Ionide and VFPT are both able to provide instant f

[2016-09-10 14:15] duckmatt commented on #170
I've added [0.4.7-beta](https://www.nuget.org/packages/FSharpLint.MSBuild/0.4.7-beta) which now fully includes FSharp.Core, not sure if this is going to get it passing but should at least remove the stack overflow

[2016-09-10 14:57] HenrikRxn commented on #170
Updated and pushed

AppVeyor build on VS2013 failing in the linting (see end of build report)
https://ci.appveyor.com/project/parthopdas/tddstud10/build/job/f4ao41k8eh1ye1hu

AppVeyor Build on VS2015 image passed and found the expected issue in the F# code
https://ci.appveyor.com/project/parthopdas/tddstud10/build/job/rn0sbp5n8or7pbm2

[2016-09-10 16:04] duckmatt commented on #170
Thanks for checking Henrik, I'm getting the same error on my appveyor build, so I'll work from that to debug

[2016-09-13 14:04] sylvanc opened #180 "RecordFieldNamesMustBePascalCase"
### Description

Using FSharpLint via Ionide/fsi in vscode, I was creating a record that needed to be compatible with a C# object. I received the linter message "Expected a Pascal case identifier", via the rule `RecordFieldNamesMustBePascalCase`.

This is perhaps a bit strong, as record field names need not be Pascal case, and for compatibility with an existing C# object, occasionally may need to

[2016-09-13 14:13] dsyme commented on #180
@duckmatt See also my comment here: https://github.com/ionide/ionide-vscode-fsharp/issues/148#issuecomment-246694189

[2016-09-13 14:15] dsyme commented on #174
@duckmatt See my comment here: https://github.com/ionide/ionide-vscode-fsharp/issues/148#issuecomment-246694189

I think the main problem is that the message is too strong ("must" v. "suggested").    Also, it might actually make sense to remove this recommendation from the F# component guidelines in any case, or make it much weaker.

cheers
don

[2016-09-13 21:50] duckmatt commented on #174
Thanks, I'm going to replace the message and also add an issue with a list of the current format strings to see if I can get some replacements suggested from the community, all of them can be improved :)

I'm going to disable this rule by default as there doesn't seem to be a general consensus and it's currently varying by project, with some popular projects choosing camel case and some choosing p

[2016-09-13 22:29] duckmatt opened #181 "Wording of lint warnings"
Currently the descriptions of the rules are far from perfect, community feedback and proposals to help improve them would be amazing, this is the place to do it! The location of the format strings in the project is [here]
(https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Core/Text.resx), and below in a more readable table:

| Warning | Warning Message |
| ---- | ---- |
| LintErr

[2016-09-13 23:43] duckmatt commented on #174
Warnings are updated in [0.4.8](https://www.nuget.org/packages/FSharpLint.Core/0.4.8), I've also added a [new issue to try to make it simpler for the community to suggest improvements](https://github.com/fsprojects/FSharpLint/issues/181). RecordFieldNamesMustBePascalCase is also now disabled by default.

[2016-09-13 23:51] duckmatt commented on #180
Thanks for the report, this feedback is very useful. I've continued the discussion in #174

As an aside, wouldn't compatibility with C# usually use pascal case as that's the standard convention for C# properties?

[2016-09-14 08:24] sylvanc commented on #180
Yes, I agree, usually it would be :) This particular use case is calling `HttpRequestMessageExtensions.CreateResponse<obj>` where C# is expecting to find a `body` field in the attached `obj` dynamically.

[2016-09-14 17:46] duckmatt commented on #180
Ah I see, that's an interesting scenario. The message is now "Consider changing `body` to PascalCase", and the rule is also off by default :)

[2016-09-15 07:51] sylvanc commented on #180
Great, thanks!

[2016-09-15 07:51] #180 closed

[2016-10-05 15:05] stanuku commented on #111
Hello - I would like to work on this issue. Just wanted to take this as an opportunity to give back to the F# community. I'm an experienced C# developer and started to learn (and love) F#.

Any suggestions on pre-requisite reading/reference material about the specific concepts required for this library that I should refer to, that will aid me?

Thanks

[2016-10-05 18:43] duckmatt commented on #111
Hi @stanuku, that's great to hear :)

The major dependency that'll be worth having a read about is [FSharp.Compiler.Services](https://fsharp.github.io/FSharp.Compiler.Service/), this is what the linter is using to go from source code to AST. Currently we're using the untyped tree, to get the type information [we're using the symbol resolver](https://github.com/fsprojects/FSharpLint/blob/master/src

[2016-10-05 19:05] duckmatt commented on #69
Closing as I don't think it's valuable - if someone else comes across a need for this please open an issue

[2016-10-05 19:05] #69 closed

[2016-10-05 19:06] #174 closed

[2016-10-05 20:26] stanuku commented on #111
Thank you Matt, I'll be on it.

[2016-10-05 23:03] stanuku commented on #111
@duckmatt: After cloning the fork locally, I'm just having to go through so many hoops get build.fsx run without failure. It seems to me that a lot of it has to do with the missing 'tools' folder inside packages.build.fsx referes to FAKE, nunit3-console.exe etc also this https://github.com/fsharp/FAKE/issues/926.

Just wondering if there is a 'steps for developers' to get setup locally?. - Thanks!

[2016-10-06 07:18] duckmatt commented on #111
Sorry to hear you're having problems getting it running. If you run `build.cmd` it should pull down all the tooling dependencies (and build the solution)

On 6 Oct 2016 12:03 a.m., stanuku <notifications@github.com> wrote:

[2016-10-06 17:53] stanuku commented on #111
@duckmatt: That worked great!. Sorry, I didn't understand the paket's features well enough to realize that the dependencies file is creating the Tools group inside the packages folder. Thanks for your help. I've started reviewing the compiler services.

[2016-10-07 18:02] duckmatt commented on #111
No problem, it's not very clear how to build, I'll try to get some build instructions added to the readme. glad to hear it's running :)

[2016-10-08 11:13] majocha opened #184 "Handle international characters in identifiers"
### Description

Correctly capitalized identifiers containing national characters are flagged as incorrect casing

### Repro steps
eg.
`type Ścieżka = Ścieżka of string`
or

`let wczytaj ścieżka = ...`

### Expected behavior

Either handle such identifiers correctly or ignore them.

[2016-10-08 14:55] duckmatt commented on #184
Thank you for reporting this. I've added your [reproduction as a regression test](https://github.com/fsprojects/FSharpLint/blob/master/tests/FSharpLint.Core.Tests/Rules/TestNameConventionRules.fs#L1215), the fix is in [`0.4.9`](https://www.nuget.org/packages/FSharpLint.Core/0.4.9)

[2016-10-08 16:52] #184 closed

[2016-10-11 12:11] vasily-kirichenko opened #186 "Wrong suggestion to replace property assigning in constructor with property name"
![image](https://cloud.githubusercontent.com/assets/873919/19269740/ecb71960-8fc4-11e6-866e-a32fc5be054f.png)

[2016-10-11 17:25] duckmatt commented on #186
Thank you for reporting this

I'm currently unable to repeat:
![image](https://cloud.githubusercontent.com/assets/3247369/19280945/bff9832a-8fdf-11e6-9d7a-bfa323b68f56.png)

Are there any errors in the file when this bug appears? I'm able to get it to occur only when the type checker is unable to determine whether or not they are properties (if I remove `open System.Diagnostics`)

[2016-10-21 10:09] ErikSchierboom commented on #181
One thing I found when looking at these messages, is that most of them state what is wrong, but not what the user can do to fix it.

For example, the `RulesNamingConventionsExceptionError` currently is:

[code]

For an exception type named `ProtocolFailure`, this would give the following error

[code]

As the hint already knows what the correct solution would be, I think it makes sense to show tha

[2016-10-22 21:32] kerams commented on #97
Hi, I'm still seeing this in the linter bundled with the latest version of VFPT.

[code]
Removing the `private` part does not help.

[2016-10-22 22:08] duckmatt commented on #97
Hi @kerams, thanks for reporting this I'll try repeating with the latest version of the linter

[2016-10-22 22:32] abelbraaksma opened #188 "Lint expects a camel-case identifier for something that is not even an identifier (i.e. in patterns)"
### Description

In left-hand declaration patterns, Lint will complain if you use a discriminated union and it'll expect a camel-case identifier, which is virtually impossible because DU's must start with a capital letter.
### Repro steps

The following code shows this behavior:

[code]
### Expected behavior

No warning whatsoever (though my own, and F#'s style guide's, preference is to have camel

[2016-10-24 21:26] duckmatt commented on #188
Thanks for the report, I'll take a look into this

For which rule is this the case? public let bindings can be either PascalCase or camelCase according to the style guide, often being PascalCase when consumed by other .NET languages

[2016-10-24 22:54] abelbraaksma commented on #188
@duckmatt, it is in the [Component Design](http://fsharp.org/specs/component-design-guidelines/#suggest-using-camelcase-for-class-bound-expression-bound-and-pattern-bound-values-and-functions).

It also says:

The emphasis on _sometimes_ is mine. To the best of my knowledge, all public F# functions in the F# Core are camel-case (`Seq.ofArray`, `Option.map` etc) and sometimes lowercase (`failwith`,

[2016-10-26 18:19] duckmatt commented on #188
I agree with what you're saying, personally I don't tend to use PascalCase for any let bindings. Using PascalCase to indicate major internal routines also seems a bit odd to me; where the default setting has come from is in section `3.1 Naming Conventions`, for the construct: `let values (external)`, it suggests `camelCase or PascalCase`

[2016-11-09 16:01] rexcfnghk opened #189 "Incorrrect lint warning on usage of foldBack"
### Description

I am trying to reimplement the `List.distinct` function:

    let inline distinct list =
        let folder curr = function
            | [] -> [curr]
            | l -> if List.contains curr l then l else curr :: l
        List.foldBack folder list []
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
I got a lint warning that says

However that doesn't make much sense to me as this leads me t

[2016-11-09 22:30] duckmatt commented on #189
Hi @rexcfnghk, thanks for the clear and detailed bug report.

The erroneous code causing the bug in question [makes up part of the default config](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Core/DefaultConfiguration.FSharpLint), looks like the order of params on these hints needs to be switched (or these hints removed). It'd be great to have a contribution of this fix, I'l

[2016-11-10 13:06] #189 closed

[2016-11-15 20:40] raholland79 opened #191 "Linter expects ¯\_(ツ)_/¯ to be camel cased and remove underscores"
### Description

![image](https://cloud.githubusercontent.com/assets/22954/20323184/57153ade-ab41-11e6-994e-9bdd0c363b18.png)

Linter flags this with the green squiggle in vscode and wants me to camel case and remove underscores.

![image](https://cloud.githubusercontent.com/assets/22954/20323265/90f58434-ab41-11e6-9094-5f7204dfcdb2.png)

I can't figure out how to Camel Case this.

[2016-11-16 00:35] duckmatt commented on #191
Hey @raholland79, thanks for the report, as you allude to, the naming convention rules probably shouldn't be checking anything within double backticks :P . I've added a fix and your scenario as a [regression test] (https://github.com/fsprojects/FSharpLint/blob/98026f726b82a2e63618ba19b2bae93c42974811/tests/FSharpLint.Core.Tests/Rules/TestNameConventionRules.fs#L1238). The fix is included in v0.4.1

[2016-11-20 19:34] duckmatt commented on #177
[Docs for the MSBuild task have been updated](http://fsprojects.github.io/FSharpLint/MSBuild-Task.html)

[2016-11-20 19:34] #177 closed

[2016-11-20 19:35] duckmatt commented on #178
Docs have been updated, this parameter used to be a workaround for an issue that doesn't exist any more

[2016-11-20 19:35] #178 closed

[2016-11-20 19:37] #186 closed

[2016-11-20 19:38] duckmatt commented on #167
Will add issue again once FSharp.Compiler.Service is dotnet core ready

[2016-11-20 19:38] #167 closed

[2016-11-26 20:16] #109 closed

[2016-11-26 20:17] #113 closed

[2016-11-26 20:21] #191 closed

[2016-11-30 11:21] Krzysztof-Cieslak commented on #129
I'd love to have this, since I've started implementing QuickFix support in VSCode (currently based on new error messages for wrong types and record fields).

<img width="397" alt="capture" src="https://cloud.githubusercontent.com/assets/5427083/20750481/6fe32b68-b6f7-11e6-9426-ed71f6a0afb0.PNG">

Anything I can do to make it happen? ;)

[2016-12-01 18:21] duckmatt commented on #129
Ah awesome. For just the hints to start with, I don't think it'll be too much work as the linter already know which parts need to be shuffled to get the end result. I think we just need the ranges for each part of both sides of the hint (the match, and the suggestion), which we can get when the [hints are matched](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Core/Rules/HintM

[2016-12-05 01:38] duckmatt commented on #129
Some progress:

![image](https://cloud.githubusercontent.com/assets/3247369/20871232/455f2576-ba8b-11e6-94a5-97dad07ede9e.png)

Need to iron things out with some tests and do a bit of refactoring to get something ready to go into the next version

[2016-12-11 13:31] jmecosta opened #195 "cyclomatic complexity removed?"
hi @duckmatt

notice that the http://fsprojects.github.io/FSharpLint/CyclomaticComplexity.html has been removed from code. Is there a new replacement for it?

regards

jorge costa

[2016-12-13 13:30] duckmatt commented on #195
Hi Jorge,

It was removed during a reworking of the core of the linter, didn't seem like it was being used by any one so didn't deem it worthy of porting it across. Did you find it useful to have?

[2016-12-13 17:25] jmecosta commented on #195
i was updating the F# sonar plugin and being complexity such a core metric in sonar its curious that no one is using it in F#. usually complexity gives good indication where we start refactoring and putting limits on it its good to keep the code simple to follow.

maybe it does not apply to F#?

[2016-12-15 18:04] duckmatt commented on #195
it can apply to f# but is certainly less useful than when applied to imperative languages, a pattern match against each case of a DU of *n* cases increases the CC of the func by *n*, with this it's easy to get a lot of "false positives" where refactoring the code to reduce the CC would probably make it more complex and less idomatic

[2016-12-16 19:47] jmecosta commented on #195
OK @duckmatt, thanks for the explanation. I will follow this recommendation also

[2016-12-16 19:47] #195 closed

[2016-12-21 15:42] Krzysztof-Cieslak commented on #129
Can we move forward with it? All what's necessary is minor fix I've PRed. And then...

![quickfix](https://cloud.githubusercontent.com/assets/5427083/21395357/7be5cdf2-c79c-11e6-91c1-c8217bf43657.gif)

[2016-12-21 15:48] Krzysztof-Cieslak commented on #129
I mean, all I'd need is pre-release nuget package ;)

[2016-12-31 18:28] duckmatt opened #197 "Change license from GPL to MIT"
Changing from GPL to MIT, the more permissive licence may encourage further integration/usage with other tools.

@archaeron @jhamm would you be happy for the code you have contributed to be moved to the MIT license?

[2017-01-01 00:57] archaeron commented on #197
@duckmatt sure :) thx for asking

[2017-01-02 17:23] isaacabraham opened #198 "Lint for composing two functions is missing a bracket"
The following code snippet:

[code]

is linted to this:

[code]

Note the missing opening bracket. In addition, I would have liked the use of the pipe to have stayed (although this is not critical).

[2017-01-03 02:08] duckmatt commented on #198
Hi @isaacabraham , thanks for the report!

Can confirm that's unfortunately the current behavior, will look into what can be done about it

Noted, the formatting of suggestions is currently a work in progress, trying to keep existing formatting of piped functions was highest priority (will be after fixing the bug here 😸)

[2017-01-05 21:47] Krzysztof-Cieslak opened #199 "Customizable naming rules"
Right now you can only enable / disable predefined rules.

I think it would be good idea if there were possibility of defining custom rules (for start choosing from  bigger predefined set - pascal, camel, pascal with underscores, camel with underscores, + defining prefixes and endings)  for all elements checked for naming rules.

I guess I can try to implement it if you're OK with such feature.

[2017-01-06 10:31] duckmatt commented on #199
Thanks for the suggestion :) would be a good improvement

[2017-01-17 00:12] #199 closed

[2017-01-17 13:32] Krzysztof-Cieslak opened #205 "Add suggested fix for naming rules"
Should be pretty simple, requires setting fix in https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Core/Rules/NameConventions.fs#L392

[2017-01-19 21:16] duckmatt commented on #205
Would be good for removing underscores, adding prefixes and suffixes. might be a bit more difficult to try and correct the casing

[2017-01-19 22:47] Krzysztof-Cieslak commented on #205
Right now we check only PascalCase and camelCase so I guess all we can do is check casing of first character

[2017-01-21 13:22] duckmatt commented on #205
Good plan, went with that :) https://github.com/fsprojects/FSharpLint/pull/206

[2017-01-21 13:22] #205 closed

[2017-01-21 15:48] #129 closed

[2017-02-11 16:29] smoothdeveloper opened #214 "Update project to FCS 10?"
There are breaking changes in FCS 10 that we would like to incorporate into VFPT.

Can we consider updating FSharpLint.Core to latest FCS?

https://github.com/fsprojects/VisualFSharpPowerTools/pull/1496

[2017-02-11 17:39] duckmatt commented on #214
Yep, just updated: https://www.nuget.org/packages/FSharpLint.Core/0.6.5-beta

[2017-02-11 18:33] #214 closed

[2017-02-12 11:52] duckmatt commented on #97
Closing as unable to repeat with regression test

[2017-02-12 11:52] #97 closed

[2017-02-19 13:39] #111 closed

[2017-02-24 22:54] duckmatt commented on #197
@archaeron great thank you :)

@jhamm to move over to MIT for now the xml doc rules will need to be taken out, please do let me know if you agree with the change in license - would love to be able to get the code back in

[2017-02-26 18:51] duckmatt commented on #188
Added a [regression test](https://github.com/fsprojects/FSharpLint/blob/1d6f87e9feef42ee0e8fac7d343087547240939a/tests/FSharpLint.Core.Tests/Rules/TestNameConventionRules.fs#L1373) for this case, thanks for reporting

[2017-02-26 18:51] #188 closed

[2017-03-04 11:59] #197 closed

[2017-05-11 13:42] ImaginaryDevelopment opened #227 "Can't overwrite a string setting with null or empty"
### Description

The default rule for `NameConventions` `InterfaceNames` defines "I" as the `Prefix`. defining in your local `Settings.FSharpLint` the same setting, with an empty, null, or None value, does not remove the linter's default prefix. I do not want to go edit the default settings, and I don't want the rule turned off. Outside of fable projects, I want the default behavior.

### Repro st

[2017-05-19 14:13] diegobfernandez commented on #170
Hi, does it work with MSBuild 15 and the new SDK-based format?
If so can it be added to the docs?
Otherwise I'll fill another issue :)

[2017-07-01 12:33] Krzysztof-Cieslak opened #229 "Adding more hints instead of overriding in settings file"
Right now setting `Hints` entry in configuration file override default settings. In many cases I don't want to override hints, I just want to add few other entries. To do so I need to come here, copy all default hints, and put them in my custom config file.  Instead I'd like to do something like:
[code]

[2017-07-02 16:16] Krzysztof-Cieslak commented on #229
Fixed by #230

[2017-07-02 16:16] #229 closed

[2017-07-02 21:36] duckmatt commented on #142
This has been implemented and will be included in the next release https://github.com/fsprojects/FSharpLint/issues/229

[2017-07-02 21:36] #142 closed

[2017-07-02 21:40] duckmatt commented on #229
Thanks for the suggestion, this will now be the default behaviour.

Old behaviour of overwriting can be done via an update attribute on the Hints node:

        <Hints>
            <Hints Update="Overwrite">
              <![CDATA[
                Option.get x ===> m"Consider using pattern matching - this function is partial and can throw exception"
                List.head x ===> m"Consider usin

[2017-07-02 21:42] duckmatt commented on #227
This has been fixed in #228 and will be included in the next release

[2017-07-02 21:42] #227 closed

[2017-07-02 22:13] Krzysztof-Cieslak opened #233 "Include compiled version in GitHub releases."
It'd be nice if we have included compiled version of CLI tool in the GitHub releases. For FAKE/MsBuild/normal code usages all users need to do is reference NuGet package. At the moment, there is no easy way of getting command line tool - users need to build it on their own.

[2017-07-20 21:26] Krzysztof-Cieslak opened #234 "Add warnings for partial functions"
Add warnings for partial functions such as `List.head` or `Option.get`

[2017-07-20 21:30] Krzysztof-Cieslak opened #235 "Enable using object members in the custom hints"
TBF, not sure if it's just not documented and I'm doing something wrong, or it's just not supported yet.

I'd like to define hints based on members usage, not only module functions. For example warning for `x.Value` (where x is an option)

[2017-07-25 03:46] rpwjanzen opened #236 "MSBuild task does not work with Visual Studio 2017 (15.2)"
### Description

The MSBuild task does not work with Visual Studio 2017 (15.2).

### Repro steps

Please provide the steps required to reproduce the problem

1. Create an F# console application
2. Install FSharpList.MSBuild task via NuGet Package Manager Console (Install-Package FSharpLint.MSBuild)
3. Build project

### Expected behavior

The project should successfully LINT.

### Actual behavior

[2017-08-18 14:39] tchajed opened #237 "Function re-implementation check does not check for tuple patterns"
### Description

The function re-implementation analyzer suggests to eta-contract a lambda even if the lambda does pattern matching on a tuple.

### Repro steps

Here's an example file:

[code]

The suggestion is that the lambda can be removed, but there's no simple way to do so (you would need to do `fst >> id'`).

Note that there's already no suggestion (rightly so) for `fun (_,y) -> id' y` (wit

[2017-08-20 22:06] duckmatt commented on #237
Thanks for the great report. I've made a fix for this bug here: https://github.com/fsprojects/FSharpLint/pull/238/files it will be going into version 0.7.7

[2017-08-20 22:06] #237 closed

[2017-08-20 22:19] duckmatt commented on #235
Yep, currently not supported unfortunately. The hint matching is doing very little type checking at the moment, would be very nice to have type constraints like that in the hints for instance members

[2017-08-20 22:25] duckmatt commented on #233
Would be an improvement to get it on the release pages, the current release process is driven by the release tag being made so may need to change that around sightly. If the binaries are needed by anyone before this issue is resolved, they do get built an artifact on appveyor: https://ci.appveyor.com/project/duckmatt/fsharplint-231/build/artifacts

[2017-10-01 20:06] alexpanter opened #240 "File name: Consider using PascalCase"
# foreword
This message is directly forwarded from fsharp-mode (Emacs package) at https://github.com/fsharp/emacs-fsharp-mode/issues/149.:

### Description

Getting a flycheck message "Consider changing `3i-3.fsx` to PascalCase". The filename cannot be translated to PascalCase - doesn't make sense. This is obviously a parse error somewhere. I think. :)

### Repro steps

1. Step A
Create a file wit

[2017-10-05 00:16] alexpanter commented on #240
## Update

The same behaviour has been observed in VIsual Studio Code.

[2017-10-10 07:00] duckmatt commented on #240
Thank you for reporting this, I've included a fix in `0.8.2`

https://github.com/fsprojects/FSharpLint/pull/242

[2017-10-10 07:00] #240 closed

[2017-11-16 21:49] blumu opened #244 "How to disable `The qualifier is redundant` warning"
### Description

Please provide a succinct description of your issue.
I am using VSCode which reports tons of `The qualifier is redundant` warnings. I would like to disable them but the doc does not explain how to configure this in the FSharpLint configuration file.

### Repro steps

Create some F# script with open statement and redundant qualifier references. Run it through fslint.

### Expected

[2017-11-16 22:01] Krzysztof-Cieslak commented on #244
`The qualifier is redundant` is not provided by FSharpLint but is custom diagnostic implemented in FSAC.

In VSCode you can disable it with `"FSharp.simplifyNameAnalyzer":false` setting.

[2017-11-16 22:01] #244 closed

[2017-11-19 08:17] ErikSchierboom commented on #170
I have the same question as @diegobfernandez. Are there plans to make this work with the new project format?

[2017-11-30 22:20] expertmm commented on #57
Uh oh, this problem can still happen if you put a different namespace for Default Namespace then embed a resx file. Changing the Default Namespace to that used by the cs file calling the resource resolves the issue.

[2018-01-03 21:34] anthonyshull opened #246 "FSharpLint.Fake terminated in StackOverflowException"
### Description

Using Fake I cannot lint a project.

### Repro steps

Create a project with Visual Studio Code. Add the following to build.fsx:

[code]

### Expected behavior

The Linter runs.

### Actual behavior

Receive error:
[code]
### Known workarounds

Please provide a description of any known workarounds.

### Related information

* Operating system: Windows 10 x64
* .NET 4.6.1

[2018-01-18 11:30] IvanAntipov opened #247 "Add Resharper like option to disable Lint in file"
It is common to have
module1.fs - file with production code
module1Playground.fsx - script file for problem investigation around logic in module1.fs

module1.fs - chould be well formated and checked for warning
module1Playground.fsx - is a playground, no need to format it well.

It will be convenient to have option to disable warnings in file like
Like
`// ReSharper Disable All`
directive

From
[h

[2018-01-22 22:05] duckmatt commented on #247
Thank you for the suggestion, it's a good idea

[2018-01-22 22:07] duckmatt commented on #246
Hello, thank you for reporting this. Would you also be able to provide the fsproj file please?

[2018-01-22 22:53] anthonyshull commented on #246
[code]

[2018-02-12 08:16] ErikSchierboom opened #250 "FSharpLint.MSBuild on .NET Core results in StackOverflowException"
### Description

When adding FSharpLint.MSBuild to a F# .NET Core project, building the project results in a `StackOverflowException`

### Repro steps

Please provide the steps required to reproduce the problem

1. Open Visual Studio 2017

2. File -> New Project -> Visual F# -> .NET Core -> Class Library (.NET Core)

3. Add `FSharpLint.MSBuild` NuGet package version `0.9.0`.

4. Try building the p

[2018-02-12 22:16] jrr opened #251 "CanBeReplacedWithPartialApplication"
Would it make sense for a hint to suggest converting this:

`let fn = fun x -> otherFunction "asdf" x`

to this?:

`let fn = otherFunction "asdf"`

[2018-02-19 14:58] SteveGilham opened #252 "System.TypeInitializationException when attempting to use from .net core"
### Description

The static initialization of `'FSharpLint.Framework.Configuration` uses an unqualified resource name, to wit `GetManifestResourceStream("DefaultConfiguration.FSharpLint")`; but .net core namespace qualifies resources, and the actual path in `fsharplint.core\0.9.0\lib\netstandard2.0\FSharpLint.Core.dll`  is `FSharpLint.Core.DefaultConfiguration.FSharpLint`.

### Repro steps
Using a

[2018-02-19 17:55] SteveGilham commented on #252
Actually, I can repro the issue just by doing a build -- unit test failures everywhere.  This must be a recent behavioural change in .net core.

[2018-02-19 18:11] SteveGilham commented on #252
I still don't have a clean build -- 11 unit test failures in the .net core tests , so no PR at the moment; but the same sort of resource namespacing is needed in [Resources.fs](https://github.com/fsprojects/FSharpLint/blob/1cae33d9699ae317c5449120e4dc05edf0474ff6/src/FSharpLint.Core/Framework/Resources.fs#L9)
[code]

[2018-02-19 19:06] SteveGilham commented on #252
Those 11 failing tests are exactly the ones in the recent commit https://github.com/fsprojects/FSharpLint/commit/221a07cf649cf8a822a59056d50d91501a461463, so it doesn't look like I've broken anything.

[2018-02-20 15:44] richardjharding commented on #250
I get something similar:

but the build error I see is

[code]

[2018-02-21 04:09] knocte opened #254 "Dead link in the docs"
The index on the top-left side has a CyclomaticComplexity link which leads to a 404:

http://fsprojects.github.io/FSharpLint/CyclomaticComplexity.html

[2018-02-21 09:10] duckmatt commented on #254
Thanks, this rule was removed a little while back, just pushed an update to the pages branch

[2018-02-21 09:10] #254 closed

[2018-02-21 09:11] duckmatt opened #255 "Push update to docs as part of CI process"
Currently pages have to be pushed manually to the gh-pages branch. We should push to this branch any time master is updated as part of the CI

related (docs out of date): https://github.com/fsprojects/FSharpLint/issues/254

[2018-02-21 14:40] SteveGilham opened #256 "MSBuild errors should cause a build to fail"
### Description

Having switched on lint warnings as errors, and generated a screenful of red text, I expect a build failure; instead the build continues.

### Repro steps

I overrode the default target in an fsproj file by inserting
[code]
after the NuGet introduced section for FSharpLint.

I then deleted the FSharpLint.settings file that had been suppressing some warning families, and ran a buil

[2018-02-21 21:13] #256 closed

[2018-03-15 13:38] nethatix commented on #236
Experiencing this too consistently with Vs 2017 15.5.7

[2018-03-18 16:55] duckmatt commented on #143
I'm going to close this as going the linter will be supporting only F# 4 and beyond

[2018-03-18 16:55] #143 closed

[2018-03-18 16:58] duckmatt commented on #170
@diegobfernandez and @ErikSchierboom , sorry for the slow response, the linter will be supporting the new SDK. I'm going to need to do a bit of work to replace the current project cracker which seems to be getting deprecated - hopefully this should also fix a lot of the on-going issues people have been having. I'll let you know when this work is completed

[2018-03-19 07:27] ErikSchierboom commented on #170
@duckmatt Okay, good to hear! Thanks for the heads-up.

[2018-03-26 18:34] Krzysztof-Cieslak opened #261 "Quickfix for adding >> changing to much"
Reported by @ovatsus in https://github.com/ionide/ionide-vscode-fsharp/issues/738

Ionide-fsharp 3.17.3

If I have some code like this:

    let array = [| "A"; "B"; "C"|]

    let foo (s: string) = s

    let bar =
        array
        |> Array.map (sprintf "something %s")
        |> Array.map foo

There's a quick fix suggestion that turns it into this:

    let bar =
        Array.map ((sprintf

[2018-04-14 08:05] SteveGilham commented on #250
As linked above, I have a report of this same StackOverflowException, the circumstances being

* 0.9.1-beta MSBuild task
* Old-school .net framework solution

but I've never seen this behaviour myself.

[2018-04-14 08:13] SteveGilham opened #262 "Intermittent ObjectDisposedException in 0.9.1-beta MSBuild task"
### Description

As per title.  Happens a few percent of the time in a case where `dotnet fake` is building an old-school .net framework solution with FSharpLint as the MSBuild task.

### Repro steps

My repro steps are -- build my [`altcover`](https://github.com/SteveGilham/altcover) repo; it fails occasionally.

### Expected behavior

No exceptions.

### Actual behavior

[code]

### Known workar

[2018-04-23 11:14] ErikSchierboom commented on #250
I have updated my .NET Core SDK to 2.1.104, and my previous error has been replaced by a new one (the same as @richardjharding):

<pre>
/Users/erikschierboom/.nuget/packages/fsharplint.msbuild/0.9.0/build/FSharpLint.MSBuild.targets(16,5): error MSB4062: The "FSharpLintTask" task could not be loaded from the assembly /Users/erikschierboom/.nuget/packages/fsharplint.msbuild/0.9.0/build/../tools/FSha

[2018-05-08 13:41] SteveGilham opened #263 "0.9.1 is Broken in VS 15.7 and whatever other updates that brings"
### Description
Lint fails with this error

[code]
### Repro steps

Please provide the steps required to reproduce the problem

1. Load the current master (932c20d) of FSharpLint into VS 15.7

2. Run unit test FunctionalTestMSBuildTask

### Expected behavior

It passes

### Actual behavior

That test shows the essentially the same error
[code]
### Known workarounds

N/A

### Related information

*

[2018-05-08 18:45] SteveGilham commented on #263
This is blinking well baffling -- in FSharpCore 4.4.3.0, the nearest synthetic class is `Microsoft.FSharp.Control.CommonExtensions+SubscribeToObservable@1741`, so yes, there's going to be a failure to invoke the `@1693` variant; however there isn't any reference to any `SubscribeToObservable` in the IL for `add_Failure`
[code]
and while JITting can pull code across assembly boundaries, I'm at a lo

[2018-05-08 20:32] SteveGilham commented on #263
I've found where the `@1693` version comes from.   In `C:\Program Files (x86)\Reference Assemblies\Microsoft\FSharp\.NETFramework\v4.0\4.4.3.0`  I have FSharp.Core.dll with `[assembly: AssemblyFileVersion("2018.04.25.1")]` which has it.  The version of FSharp.Core.dll 4.4.3 packaged with 0.9.1 is `[assembly: AssemblyFileVersion("2018.01.25.1")]`; so some of the internals leak, enough that the impl

[2018-05-20 21:39] duckmatt commented on #263
Thanks for taking a look into this. I've hit a similar issues before, the issues I've had in the past are that MSBuild tasks executed from VS pick up existing DLLs loaded by any VS extension or VS itself, this is where the usage of the AppDomain came from. Unfortunately FSharp.Core.dll doesn't seem to obey the usual AppDomain rules, if an AppDomain is started from F# it seems to still prefer the e

[2018-05-21 09:49] SteveGilham commented on #263
Actually, it occurs to me that when operating within the classic framework, using a `ILMerge` to wedge everything together into an assembly with no external dependence on FSharp.Core would probably be the most durable solution.

[2018-05-27 12:34] parthopdas commented on #263
@duckmatt Any updates on the a new version compiled against latest fsharp.core?

[2018-05-29 11:46] dbrattli opened #265 "Add support for dotnet core fsproj projects"
### Description

FSharpLint fails on dotnet core fsproj project files

### Actual behavior

Running lint fails with FAKE (FSharpLint.Fake -Version 0.9.0):

[code]

Project file looks like this:

[code]

* Operating system: OS X 10.13.4
* .NET Runtime, CoreCLR or Mono Version: netcoreapp2.0

[2018-05-30 21:12] duckmatt commented on #263
@parthopdas unfortunately it wasn't so simple as updating fsharp.core, I'm going to try and go with @SteveGilham 's solution (ilmerge to get a single msbuild task assembly) this weekend

[2018-07-03 07:42] Horusiath commented on #263
Is there any chance for this to be fixed in the nearby future?

[2018-07-03 13:30] SteveGilham commented on #263
Having experimented with adding a target to the current (legacy FAKE) build script
[code]
with the associated 1-line changes to `paket.dependencies` and the relevant `paket.template`, in the `update-dependencies` branch, touch-testing the build I had been using this with fails with
[code]
so this may be a dead-end.

[2018-07-03 17:30] SteveGilham opened #266 "Nuget package FSharp.Compiler.Service v22.0.1 has breaking API change w/o assembly version change"
### Description

Attempting to directly invoke FSharpLint.Core in a .net core environment can give MissingMethodException
[code]
This arises because releases of the package up to and including 22.0.1 included assemblies with version 0.0.0.0; previous versions had `Microsoft.FSharp.Compiler.SourceCodeServices.FSharpChecker.Create` take the 4 arguments as in the exception message, but this nuget pac

[2018-07-23 16:48] ErikSchierboom opened #267 "Release as global tool"
### Description

.NET Core 2.1 introduced the concept of [global tools](https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools), which are applications you can easily install and use globally. These tools make it incredibly easy to get started with a tool, and would be a perfect fit for FSharpLint I think.

A great example of a global tool in the F# community is [Fake](https://fake.build/

[2018-07-31 14:01] alexgman opened #268 "using fsharplint within vscode?"
Is it possible to use FSharpLint in VS Code? If so, how do we do that?

[2018-07-31 14:56] Krzysztof-Cieslak commented on #268
FSharpLint is integrated with Ionide (VSCode F# plugin).

[2018-10-17 18:54] samuela opened #275 "[feature request] line length rules"
### Description

It would be nice to have configurable limits on line length.

[2018-10-20 19:20] duckmatt commented on #275
It exists :) see: https://github.com/fsprojects/FSharpLint/blob/master/Settings.FSharpLint#L6

[2018-10-20 19:36] samuela commented on #275
Ah, ok thank you!

[2018-10-20 19:36] #275 closed

[2018-10-22 05:36] samuela opened #276 "[feature request] `(x: type)` vs `(x : type)` rule"
### Description

It would be nice to have a rule that guarantees consistency between whether or not there's a space before the colon in type defs.

[2018-10-22 17:42] jgardella commented on #276
Hi samuela.

I recently added this in the new Formatting analyser; the rule is called `TypedItemSpacing`. Currently it is hardcoded to only accept the case `(x : type)`. We may want to make this a configurable setting; the three cases I've seen used in F# code are:

- space after `(x: type)`
- space before and after `(x : type)`
- no spaces `(x:type)`

So it may be a good idea to add support for t

[2018-11-21 07:12] ErikSchierboom commented on #267
I believe this has been fixed by #282.

[2018-11-21 07:12] #267 closed

[2018-12-03 18:55] lewisc opened #286 "Unsure of correct styling for multiline when clauses in match expressions"
### Description

The match expression with multi line when clauses can has unexpected desired behavior (see below)

### Repro steps
Consider the following block

[code]
Fsharp lint gives the following error

                                      ^

I believe the following is the desired styling
[code]

If this is the desired behavior then I suppose that's acceptable, I simply find this a bit surpr

[2018-12-11 18:33] jgardella commented on #286
Thanks for the detailed report! This is a bug, we were not taking into account the guard when figuring out the correct indentation. See #287 for the fix.

[2018-12-18 11:08] #286 closed

[2018-12-19 18:30] #276 closed

[2019-01-05 13:09] nickcowle opened #291 "Documentation for FAKE and MSBuild has disappeared"
### Description

When #277 was merged, the documentation on how to use FSharpLint with FAKE and MSBuild was deleted (FAKE-Task.md and MSBuild-Task.md). However, links to these files are still present on https://fsprojects.github.io/FSharpLint/ (see the section "Running The Tool").

### Repro steps

1. Go to https://fsprojects.github.io/FSharpLint/

2. Click the link "Running the MSBuild task." or

[2019-01-28 13:06] MangelMaxime opened #292 "False positive for union case indentation when using attributes"
### Description

False positive for "Union definition cases should be at the same indentation level."

### Repro steps

Please provide the steps required to reproduce the problem

This code generated the warning mentioned:

[code]

However, if I try to put `[<CompiledName("is-normal")>]` above the `IsNormal` case to get rid of the warning then the code is invalid.

### Expected behavior

Should no

[2019-01-28 13:53] MangelMaxime opened #293 "False positive warning is generated for member with doc comments strings."
### Description

False positive warning is generated for member with doc comments strings.

### Repro steps

[code]

There is a warning generated on the doc comment line.

### Expected behavior

Should not generate a warning.

### Actual behavior

Generate a warning: `Class members should be separated by 1 blank line.`

### Known workarounds

None

[2019-01-28 16:26] jgardella commented on #293
Hi @MangelMaxime. Thanks for the detailed bug report.

I wasn't able to replicate this; when I lint the provided code I get no errors. Is there any other code surrounding this? Maybe another member following this one? For example:

[code]

[2019-01-28 16:43] aspnetde opened #295 "Suggested fix for RulesFormattingF#ArrayPostfixError removes tuples"
![image](https://user-images.githubusercontent.com/1322584/51849923-f8b44480-2320-11e9-9933-a66f83ef967e.png)

I think correct would be `(A * B) []` here.

### Machine infos

* Operating system: **Darwin**
* Arch: **x64**
* VSCode: **1.30.2**
* Runtime: **netcore**
* Dotnet version: **2.1.302**
* Runtime: **.Net**
* Ionide-fsharp: **3.31.0**

[2019-01-28 17:18] forki opened #296 "New linter is going crazy on perfectly fine elmish code"
Originally reported to ionide. Please see https://github.com/ionide/ionide-vscode-fsharp/issues/997

[2019-01-28 17:20] forki opened #297 "Linter is is complaining on member calls"
Originally reported to ionide please see
https://github.com/ionide/ionide-vscode-fsharp/issues/996#issuecomment-458205532

[2019-01-28 17:43] jgardella commented on #297
Hi @forki.

This is a new rule, `TupleCommaSpacing`, based on the [F# style guide](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/formatting#formatting-tuples). It is enabled by default because it's part of the official style guide. If you disagree with the rule or it being on by default we can discuss further here.

[2019-01-28 17:45] Volcomix opened #298 "Wrong formatting rule for pattern matching function"
### Description

Wrong formatting rule for pattern matching function.

### Repro steps

[code]

### Expected behavior

Should not generate a warning as it seems to respect [that style-guide](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/formatting#pattern-matching-constructs) (see the 3rd and 4th examples).

### Actual behavior

Generate a warning: `Lint: Match clauses should be inden

[2019-01-28 17:49] jgardella commented on #296
Hi @forki.

This rule is also based on the F# style guide, which suggests always using parentheses around tuple instantiations. As @MangelMaxime suggested in the linked issue, it can be disabled through the config.

However if I'm understanding your comments on the linked issue correctly, it sounds like this is a common format in elmish/SAFE stack code? I was not aware of this. Given that this is

[2019-01-28 18:11] forki commented on #296
Actually this is so established right now, that I think the "official style guide" needs to be changed. Adding parens here breaks basically all the historical code in light syntax and adds a lot of clutter. /cc @cartermp

[2019-01-28 18:19] forki commented on #297
Yeah I don't think it's a good idea tbh, but it's far less invasive than the other one I reported and it is not introducing clutter. It's only annoying to reformat perfectly good looking code because we now call one style opinion "official" ;-)

[2019-01-28 18:19] #297 closed

[2019-01-28 18:22] jgardella commented on #297
Perhaps instead of "official" I should have said Microsoft :). In any case we need to have some defaults for the linter and the Microsoft style guide made the most sense to me.

[2019-01-28 18:24] Volcomix opened #299 "False positive for the TupleParentheses rule when combined with the cons operator"
### Description

False positive for the `TupleParentheses` rule when combined with the `::` (cons) operator.

### Repro steps

[code]

### Expected behavior

Should not generate a warning.

### Actual behavior

Generate a warning surrounding only the 2nd tuple element: `Lint: Use parentheses for tuple instantiation.`

### Known workarounds

Disable the `TupleParentheses` rule by following [these i

[2019-01-28 20:31] jgardella commented on #296
I think it's a great discussion to have, thanks for starting it. Personally, I like parentheses around tuple instantiation (and even around tuple pattern matching) as I think it makes the code easier to read. But again I have not used elmish/SAFE so I may not be seeing the full picture. Let's continue the discussion over on your style guide PR.

[2019-01-28 21:16] MangelMaxime commented on #296
Considering the changes requested by @forki on the guidelines. If this is accepted, we could add a mode "strict" to FSharpLint for people who want to always put parens around their tuples.

The idea being because it's mentioned as optional people could want to force them self to always use parens even for function return.

[2019-01-28 21:49] forki commented on #296
Why would anyone ever do that? It's a light language mode - next thing we
do is require people to put semicolons at the end of each line ;-)

Am Mo., 28. Jan. 2019, 22:16 hat Maxime Mangel <notifications@github.com>
geschrieben:

[2019-01-28 21:53] MangelMaxime commented on #296
No idea, but just because we don't know doesn't me but can't provide an option to support it if some want to and because the code is already written for it. ^^

I believe in configuration against strict walls. Even, we good defaults a tool doesn't all suits the need for everyone.

[2019-01-28 21:57] forki commented on #296
Yes config is good, but if we manage to settle on good default it's even
better. I'm willing to do compromises.

Am Mo., 28. Jan. 2019, 22:53 hat Maxime Mangel <notifications@github.com>
geschrieben:

[2019-01-29 07:10] cartermp commented on #296
I think having something like a requirement for all tuples to be surrounded by parentheses could make a good setting, but the default should be to allow them at the return site like the docs suggest in light of elmish styles.

[2019-01-29 15:48] jgardella commented on #296
Great, happy we were able to reach a decision and update the guide. I'm thinking for FSharpLint we can make this setting configurable with the following options:

- `Instantiation` - require parentheses for all instantiations
- ` InstantiationExceptReturn` - require parentheses for all instantiations, except when they are return value (elmish style)

[2019-01-29 16:48] MangelMaxime commented on #296
For me having both of these options make sense indeed.

[2019-01-30 14:05] forki opened #301 "false positive tuple warning when using line break instead of empty space"
![image](https://user-images.githubusercontent.com/57396/51986391-70f54400-24a0-11e9-9ec1-713b0733b3f0.png)

[2019-01-30 17:54] Krzysztof-Cieslak commented on #301
I just want to say sorry to @jgardella and @duckmatt - enabling new version in Ionide had a nasty side effect of more bug reports ;-) I guess I should start contributing more again.

[2019-01-30 17:59] jgardella commented on #301
@Krzysztof-Cieslak More bug reports is good!

@duckmatt recently released a new version with the Formatting linter disabled by default. I think this is sensible for now as there were some defaults in this new analyser that were not as widely accepted as I had thought. Should we push a new version of Ionide with that FSharpLint version (I believe `0.10.3`) to avoid disrupting people's workflows, wh

[2019-01-30 17:59] forki commented on #301
Yeah Software without users does not have bugs.

[2019-01-30 18:00] Krzysztof-Cieslak commented on #301
That's my favourite kind of software, tho...

Yes, I'll do that... soon-ish

[2019-01-31 16:16] #293 closed

[2019-01-31 16:54] NinoFloris opened #303 "false positive with struct tuple deconstruction of fun arg"
![screenshot 2019-01-31 at 17 13 34](https://user-images.githubusercontent.com/4218809/52070439-239cd380-2581-11e9-9c25-509ec8bcdc8b.png)

Lint: Match clauses should be in line with 'match' keyword.

[2019-01-31 17:24] #292 closed

[2019-01-31 21:21] mistiara opened #304 "False positive assigning bool fields in object initialization"
### Description

Assigning bool *fields* (not properties or named parameters) in object initialization results in false positives for `` `x = true` might be able to be refactored into `x` `` and `` `x = false` might be able to be refactored into `not x` ``.

I couldn't find a duplicate of this issue.

### Minimal repro

![image](https://user-images.githubusercontent.com/1218253/52085631-42ad5c80-2

[2019-02-04 16:14] sdaves commented on #265
Same problem here. Win10, VS2017 15.9.5, TargetFramework: netstandard2.0
I added the FSharpLint.MSBuild nuget package and get the same build error:

`The default XML namespace of the project must be the MSBuild XML namespace.`

[2019-02-04 17:16] #299 closed

[2019-02-04 17:17] #298 closed

[2019-02-04 17:17] #295 closed

[2019-02-10 18:48] dustinmoris opened #309 "Several Linter issues"
Copying the issue which was [originally raised in Ionide VS Code](https://github.com/ionide/ionide-vscode-fsharp/issues/1015):

---------

I've noticed several Linter issues:

### Constants

[code]

Lint: Consider changing SOME_CONSTANT_FOR_ENV_VAR to remove any underscores.

### String.Split Function

[code]

![image](https://user-images.githubusercontent.com/4580714/52531826-89245900-2d13-11e9-8

[2019-02-11 16:56] #301 closed

[2019-02-11 18:12] #303 closed

[2019-02-11 18:24] jgardella commented on #309
Hi @dustinmoris,

Glad FSharpLint is working well for you, and thanks for the detailed bug report. I will address all your points in turn:

**Constants**
This is a configurable setting: `LiteralNames`. By default it's set to PascalCase and no underscores. You can set a custom config to allow underscores.

**String.Split Function**
Fixed in #311.

**Unions**
There's a warning here because the `Unio

[2019-02-11 23:59] duckmatt commented on #233
Since the move to dotnet core we do now have an executable on nuget https://www.nuget.org/packages/dotnet-fsharplint/

[2019-02-11 23:59] #233 closed

[2019-02-12 00:03] duckmatt commented on #236
Thanks for raising this, and sorry for the very delayed response! The MSBuild task has been deprecated, the linter is now best run as [dotnet tool](https://www.nuget.org/packages/dotnet-fsharplint/) or via Ionide

[2019-02-12 00:03] #236 closed

[2019-02-12 00:03] duckmatt commented on #250
Thanks for raising this, and sorry for the very delayed response! The MSBuild task has been deprecated, the linter is now best run as [dotnet tool](https://www.nuget.org/packages/dotnet-fsharplint/) or via Ionide

[2019-02-12 00:03] #250 closed

[2019-02-12 00:04] duckmatt commented on #262
Thanks for raising this, and sorry for the very delayed response! The MSBuild task has been deprecated, the linter is now best run as [dotnet tool](https://www.nuget.org/packages/dotnet-fsharplint/) or via Ionide

[2019-02-12 00:04] #262 closed

[2019-02-12 00:06] duckmatt commented on #252
Thanks for raising this. It should be working now as the solution is now dotnet core first

[2019-02-12 00:06] #252 closed

[2019-02-12 00:09] duckmatt commented on #246
Thanks for raising this, and sorry for the very delayed response! The Fake task has been deprecated for now, the linter is now best run as [dotnet tool](https://www.nuget.org/packages/dotnet-fsharplint/) or via Ionide. Although saying this the Fake task will probably come back as a wrapper around executing the dotnet tool

[2019-02-12 00:09] #246 closed

[2019-02-12 00:16] duckmatt commented on #265
dotnet core projects are now supported however the MSBuild task and Fake task have both been deprecated. Recommended usage is via the [dotnet tool](https://www.nuget.org/packages/dotnet-fsharplint/) or Ionide. The fake task will probably come back but as a wrapper around the dotnet tool

[2019-02-12 00:16] #265 closed

[2019-02-12 00:17] duckmatt commented on #291
Thanks, this is a good find. For now the MSBuild task and Fake task have been deprecated. I'll update the docs to mention this and provide the reasoning behind it

[2019-02-12 00:24] duckmatt commented on #263
@SteveGilham Yeah, I couldn't get ILMerge working with the FSharpLint assemblies, instead I did something I had wanted to do for a long time and deprecated the MSBuild task :P Might bring the MSBuild and Fake tasks back at some point but if I do they'll be wrappers around the new [dotnet tool](https://www.nuget.org/packages/dotnet-fsharplint/), to avoid these dependency issues that could never qui

[2019-02-12 00:24] #263 closed

[2019-02-12 00:46] duckmatt commented on #170
Sorry for never getting back on this, the MSBuild task was a bit of a nightmare to maintain with various dependency issues, it has now been deprecated. There's now a [dotnet tool](https://www.nuget.org/packages/dotnet-fsharplint/) and the linter can also be ran from within Ionide

[2019-02-12 00:46] #170 closed

[2019-02-13 22:11] Krzysztof-Cieslak opened #313 "Bump FCS to 26.0"
We're slowly working on updating FSAC/Ionide to FCS 26.0 and we'll need also update FSharpLint to it.

Details: https://github.com/fsharp/FsAutoComplete/pull/338

@baronfel

[2019-02-13 23:45] #313 closed

[2019-02-13 23:45] duckmatt commented on #255
Going to close this, would be nice if it was 100% automated but it's much improved, after building locally the updated docs will show up as unstaged changes on git so just need to be committed (previously had to build, copy the generated docs, switch branches, paste the docs, then commit)

[2019-02-13 23:45] #255 closed

[2019-02-14 00:02] duckmatt commented on #266
Thanks for the in depth report and solution, I feel like getting to the bottom of this must have been painful! We've since upgraded the version of fcs so I'll close this

[2019-02-14 00:02] #266 closed

[2019-02-14 09:29] SteveGilham commented on #266
Can confirm that this was fixed with release 0.10 but I'd simply forgotten this report.

And they said .net was supposed to save us from DLL Hell :)

[2019-02-15 18:02] pimbrouwers commented on #309
@jgardella With respect the `function` keyword and pattern matching, what about within pipelines?

For example, the following causes the linter to through an info currently? Despite any of my efforts to align the match expressions.

[code]

[2019-02-15 18:25] jgardella commented on #309
Hi @pimbrouwers.

I recently updated the rule for match indentation to be more robust. On the latest master, your example passes for me if I prefix the match clauses with 4 spaces instead of 6. If you're using Ionide it may not have these changes yet.

However there is a problem here which we need to address. None of the formatting rules have any configuration for expected number of spaces for a l

[2019-02-15 19:07] pimbrouwers commented on #309
@jgardella Absolutely amazing. Thanks so much not only for swift reply, but for this amazing tool!

[2019-02-19 20:28] robertlyson commented on #261
Wanted to have a look into this issue, but seems I can't find a way to put a fix in place. Any suggestions where to look first?
I Started with a test case, but doesn't even seem to reformat function as in the above example:
[code]
throws
[code]
looks like it doesn't apply fix at all and returns
[code]

[2019-02-21 05:22] rexcfnghk opened #316 "False positive when pattern matching single-case DU inside lambda"
### Description

A `Lint: Match clauses should be in line with 'match' keyword` warning is produced when I pattern-match a single-case DU inside a lambda.

### Repro steps

[code]

### Expected behavior

No warnings produced beccause there is no `match` keyword used.

### Actual behavior

False positive warning.

### Related information

* Windows 10, VS Code with Ionide-fsharp

[2019-02-21 16:32] jgardella commented on #316
Hi @rexcfnghk, thanks for the report.

I chcked on the latest version of master and this doesn't produce an error. I think this was fixed in #310, but Ionide hasn't been updated yet.

[2019-02-21 16:32] #316 closed

[2019-02-21 16:47] jgardella commented on #261
Hi @robertlyson, happy to hear you're interested in contributing.

I was also not able to reproduce this by adding a test to the `TestFunctionReimplementationRules` test module. I think the reason is that this fix is actually a result of one of the default hints. I think this one: `Array.map f (Array.map g x) ===> Array.map (g >> f) x`.

You can add this test to the `TestHintMatcher.fs` file to re

[2019-02-21 17:30] #309 closed

[2019-02-26 20:57] duckmatt commented on #291
Thanks for raising this, I've updated the docs to give a bit of background on why these have disappeared. For now if you'd want to run as part of a build I'd recommend using fake dotnet task to execute `dotnet fsharplint -f xyz.fsproj`

[2019-02-26 20:57] #291 closed

[2019-02-26 21:57] #304 closed

[2019-02-26 21:59] duckmatt commented on #304
Thank you for raising this! I've [merged in a fix](https://github.com/fsprojects/FSharpLint/pull/321/files) this will go out in version `0.10.7`

[2019-03-26 20:50] Shmew opened #323 "FSharpLint throws errors over op_Explicit"
`static member op_Explicit(ExampleType e) = e`

Currently throws errors for both not using PascalCase and underscores. This is an issue as it is required to convert an arbitrary from generated types during property based testing.

See [here](https://github.com/fsharp/fsharp/blob/6819e1c769269edefcea2263c98f993e90b623e2/src/fsharp/FSharp.Core/prim-types.fs#L3687) and [here](https://github.com/fsche

[2019-03-28 20:57] jgardella commented on #323
Hi @Shmew, thanks for the report.

I think a reasonable solution for this is to ignore the naming conventions rules for members which start with `op_`, since they are a special case used for operator overloading. I've implemented this in #324.

[2019-03-29 19:51] #323 closed

[2019-04-14 18:42] JamesFaix opened #327 "Members implementing an interface should not be flagged by 'MemberNames' analyzer"
### Description

In my repository, I prefer to use camelCase for all names of functions, values, literals, members, and parameters. To me this seems more consistent and readable than the default style rules of PascalCase for members and literals, but camelCase for functions, values, and parameters. However, there are times when I need to implement an interface from a 3rd party library, which is ty

[2019-04-17 20:07] Shmew opened #328 "Optional parameters falsely fla"
Warnings are thrown for optional bool parameters

`x = true` might be able to be refactored into `x`.
silentHttpErrors = true

https://github.com/fsharp/FSharp.Data/blob/master/src/Net/Http.fs#L1704

[2019-04-21 02:43] JamesFaix commented on #162
What needs to be updated for this? Documentation? Code? Resource strings? All of these?

[2019-04-24 15:18] KillyMXI opened #329 "Disable specific hints instead of overriding everything"
### Description

I want to use the linter with provided defaults mostly - I want to make most use from the experience of people who put them there.
But some hints conflict with my intent and I want to disable them.

There is a mechanism to add custom hints (#230), but nothing to disable existing hints.
My proposal below.

### Repro steps

Consider the following code:
[code]

### Expected behavior

[2019-04-30 21:54] duckmatt commented on #133
covered in https://github.com/fsprojects/FSharpLint/pull/330

[2019-04-30 21:54] #133 closed

[2019-04-30 23:32] duckmatt commented on #162
Hi @JamesFaix , sorry for the slow response on this, documentation would probably be the place to start. It might be hard to concisely cross reference in the warnings, but we could possibly add another field to the warnings to allow any clients of FSharpLint make use of the cross reference

[2019-05-06 18:53] #327 closed

[2019-05-06 20:25] jgardella commented on #328
Hi @Shmew, thanks for the bug report. When you get a chance, could you please provide a minimum example that reproduces this issue?

[2019-05-07 15:14] #329 closed

[2019-05-15 15:01] Shmew commented on #328
[code]
[code]

Hey @jgardella sorry for taking so long, I forgot about this.

[2019-05-16 12:00] LukeBurgessYeo opened #336 "Lint Not Working For .NET Framework Projects"
### Description

Linting a .NET Framework project throws an error:
[code]

### Repro steps

1. Create a new .NET Framework F# project (e.g. in Visual Studio 2017: file -> new -> project -> Visual F# -> Console Application (.NET Framework))
2. Run fsharplint against the newly created project, e.g:

[code]

### Expected behavior

Lint should run successfully, as is the case when repeating the above

[2019-05-18 14:16] SteveGilham opened #337 "`dotnet fsharplint -convert` fails with poor error message"
### Description

Trying to convert a settings file from 0.10.8 XML to 0.11.1 JSON fails with "The given key was not present in the dictionary."

### Repro steps

Please provide the steps required to reproduce the problem

`dotnet fsharplint -convert` applied to the following

[Settings.FSharpLint.txt](https://github.com/fsprojects/FSharpLint/files/3194141/Settings.FSharpLint.txt)

### Expected beh

[2019-05-23 15:14] Kelvin4702 opened #338 "CLI tool: add ability to pass in a solution file"
### Description

A nice-to-have enhancement. In addition to supporting `dotnet fsharplint -f` for linting a `.fsproj` file, it would be nice to also support `.sln` files.

### Repro steps

N/A

### Expected behavior

The dotnet CLI tool has a new parameter that accepts solution (.sln) files.

### Actual behavior

Functionality doesn't exist.

### Known workarounds

Calling the CLI tool from a scri

[2019-05-23 15:22] Kelvin4702 opened #339 "CLI tool: return non-zero exit code when warnings are found"
### Description

The dotnet-fsharplint CLI tool currently returns a 0 exit code, regardless of whether lint warnings were found. It would be nice to be able to determine when something is deemed successful through the exit code.

### Repro steps

1. Run the CLI tool on a file with warnings: observe a 0 exit code.
2. Run the CLI tool on a file without warnings: observe a 0 exit code.

### Expected

[2019-05-23 15:29] Kelvin4702 opened #340 "CLI tool: add flag to print ONLY warnings"
### Description

The current output of the CLI tool includes the lint progress and result for every file. It would be nice to have a way to filter out successful results and only print the warnings.

### Repro steps

1. dotnet fsharplint -f "foo.fsproj"

### Expected behavior

[code]

### Actual behavior

[code]

### Known workarounds

Piping the output into another tool, i.e. grep:
[code]

### Re

[2019-05-23 15:38] Kelvin4702 opened #341 "Exception thrown when linting file/project through CLI tool"
### Description

The following source causes the cli tool to throw an exception when linting the .fs file or the .fsproj that contains the file.
```let first,second = fst e,snd e```

Exception thrown:
```dotnet fsharplint -f foo.fsproj```
```dotnet fsharplint -sf file1.fs```
Succeeds:
```dotnet fsharplint -source "let first,second = fst e,snd e"```

I have not tried the same programatically throug

[2019-05-29 04:31] anchann opened #343 "Update documentation on suppressing warnings"
### Description

Current document on suppressing warnings seems outdated. At the very least, given the `InterfaceNamesMustBeginWithI` example, it is completely unclear how to get one's hands on identifiers of other rules. I can get this on the console:

[code]

and have no idea what to put in the

[code]

line. The names from the docs, like `RecordfieldNames`, do not work, nor does the name from t

[2019-05-29 04:36] anchann opened #344 "Add exceptions to the json config"
### Description

It would be convenient, for every rule, to be able to provide a list of exceptions, perhaps regexes to allow for extra flexibility. This would enable great flexibility, yet have no cost to a user that just runs with the defaults.

My concrete use case is as follows. I want to enforce PascalCase for record field names, but there are some system level fields (I'm in metaprogramming

[2019-05-29 04:50] anchann opened #345 "Need greater flexibility for suppressing warnings"
### Description

The current warning suppression mechanism is severely underpowered, and does not match the complexity of the real world we need to deal with.

Concretely, I want to enforce PascalCase on record field names, yet there are a couple of classes of use cases for which I need to be able to override/suppress:

* typing payloads of external APIs beyond my control — typically JSON payloads

[2019-05-31 08:38] enricosada opened #347 "Support xml configs"
### Description

In https://github.com/fsharp/FsAutoComplete we use fsharplint as library (currently v0.10).

In v0.11 xml config support was restricted, but we need to continue support repos with xml configs, because repos may use an older version of fsharplint with xml configs.

The method we used was `GetConfigurationForProject` to recursively read the configs starting from a path

Now the func

[2019-05-31 08:42] enricosada commented on #347
/cc @jgardella

[2019-05-31 17:26] #337 closed

[2019-05-31 17:27] #339 closed

[2019-05-31 18:51] #338 closed

[2019-05-31 18:52] #347 closed

[2019-06-23 09:58] milbrandt opened #355 "Readme.md outdated"
### Description

`Readme.md` seems to be outdated and badges are broken.

### Repro steps

Just have a look at the `Readme.md` of current master.

### Expected behavior

Updated `Readme.md` to reflect current Situation and remove (or replace) broken badges.
Seems like the `Readme.md` was not updated for the large redesign PR #330 .

### Actual behavior

- Badges of issue stats are broken. Seems th

[2019-06-25 06:44] inosik opened #357 "Partial Active Patterns with arguments are flagged with RulesNamingConventionsUnderscoreError"
### Description

Partial active patterns are flagged with the underscore naming rule, if they have arguments. The suggested change to fix the error produces invalid code.

### Repro steps

Change this:

[code]

To this:

[code]

### Expected behavior

Partial active patterns should not be flagged by this rule,

### Actual behavior

The suggested change is this:

[code]

I guess FSharpLint misinter

[2019-06-25 18:55] #357 closed

[2019-06-25 18:55] jgardella commented on #357
Thanks for the bug report!

[2019-06-28 14:55] milbrandt commented on #336
The same issue seems to apply on `netstandard2.0` projects using dotnet 2.2.107:

    Lint failed while analysing project D:\_2\8\s\source\MyProject\MyProject.fsproj.
    Failed with: error getting msbuild info: internal error, more info returned than expected MSBuildFailed
      (1,
       ("D:\_2\8\s\source\MyProject", "dotnet",

with project file starting

    <?xml version="1.0" encoding="utf-

[2019-07-11 13:40] christoph-feb22 commented on #336
Same here for `netcoreapp2.2` project using dotnet 2.2.301

[code]

[2019-07-11 14:47] milbrandt commented on #336
Would be good to have it fixed on dotnet 2.2.1xx series which is compatible with VisualStudio 2017 (in contract to 2.2.3XX)

[2019-07-15 23:12] enricosada opened #362 "Add links to docs for warning"
### Description

To give users a link with more info for each lint warning, we need the doc url based on linter warning code

### Repro steps

For FSAC in PR https://github.com/fsharp/FsAutoComplete/pull/443/files @baronfel added something like

[code]

Will be nice if that function is already defined in `FSharpLint` or the doc url is additional field in `LintWarning.Warning.Info`

[2019-08-19 13:28] SteveGilham opened #364 "Required 'new' keyword marked as redundant [new in 0.12.3]"
### Description

Statements of the form `use name = new IDisposable()` now get marked with redundant `new` lint messages, as do some `let name = new IDisposable()` where the disposal happens further up the calling stack; this happens after the 0.12.2 to 0.12.3 upgrade

### Repro steps
Code like this now gets flagged
[code]
as does a module-level definition
[code]

In each case, removing the `new`

[2019-08-19 14:46] jgardella commented on #364
Hi @SteveGilham, thanks for the report.

I'm not able to reproduce this using the examples you posted. Could you provide a link to the full code for these examples if possible? This is one of the few rules that depends on type checker information (to determine if a type implements IDisposable). My suspicion is that some other code in the file is causing the typechecker to fail.

[2019-08-19 15:24] SteveGilham commented on #364
Sure thing

https://github.com/SteveGilham/altcover/blob/7db21cf94d9d7cd20e65295da72d1015505c2686/XTests/XTests.fs#L438-L439
https://github.com/SteveGilham/altcover/blob/7db21cf94d9d7cd20e65295da72d1015505c2686/XTests/XTests.fs#L625-L626

and

https://github.com/SteveGilham/altcover/blob/7db21cf94d9d7cd20e65295da72d1015505c2686/AltCover.Visualizer/Visualizer.fs#L876

Driving the linter directly fr

[2019-08-20 15:07] jgardella commented on #364
@SteveGilham, I still haven't been able to reproduce this. I copied your entire `XTests.fs` file contents into a test running just the `RedundantNewKeyword` rule, and it still didn't produce any errors. If you could help me to create a minimal reproduction of this bug that would be much appreciated!

[2019-08-20 19:24] reaysawa opened #365 "[Request] postfix generics syntax for a set of types, per Style Guide"
https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/formatting#use-prefix-syntax-for-generics-foot-in-preference-to-postfix-syntax-t-foo

I'm also happy to know, if this can't be reasonably achieved or isn't welcome here, the why.

[2019-08-20 20:20] jgardella commented on #365
Hi @reaysawa,

Not sure if I'm missing something, but this should already be supported through the [typePrefixing](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Core/DefaultConfiguration.json#L12) rule, which is disabled by default; you would just have to enable it.

[2019-08-20 20:47] reaysawa commented on #365
Hi @jgardella, I couldn't find it when I tried. I tried to search for "postFix", "generics", and related words from the Style Guide's hint I could intuit, but none matched.

Is that option missing some explanation for what it does? I couldn't find anything in either the website or the docs-gen folder.

[2019-08-21 08:56] SteveGilham commented on #364
Here's one of the problem cases, that of the module level
[code]
cut right down to be getting on with

[altcover.zip](https://github.com/fsprojects/FSharpLint/files/3524387/altcover.zip)

If the Visualizer.fs source file alone doesn't do it, then
[code]
repeatably results in
[code]

[2019-08-21 09:21] SteveGilham commented on #364
And here's the other example, cut right down.
[altcover.zip](https://github.com/fsprojects/FSharpLint/files/3524528/altcover.zip)
Same
[code]
if needed, and produces
[code]

[2019-08-24 11:33] milbrandt commented on #364
I have the issue, that the message is no longer found when I update from FSharp.Core 4.6.2 to 4.7.0.
Code example is unit testing analyzing [this file](https://github.com/jmecsoftware/sonar-fsharp-plugin/blob/master/FsSonarRunner/FsSonarRunnerCore.Test/Resources/LintTestFile.fs). Updating to FSharpLint.Core 0.12.3 didn't Change behaviour.

@SteveGilham Which release of FSharp are you using?

[2019-08-24 11:56] SteveGilham commented on #364
I'm driving the linting with FAKE 5.16.0, which takes FSharp 4.7 as a dependency.
The case of
[code]
is in a project that also takes FSharp 4.7 as a dependency.

[2019-08-25 03:38] reaysawa commented on #365
the title no longer applies for that other problem, so I'm closing this issue

[2019-08-25 03:38] #365 closed

[2019-09-05 19:57] resolritter opened #366 "Override configuration's path through a CLI flag"
Other linting tools offer this kind of customization.

- [clang-tidy's --config](https://clang.llvm.org/extra/clang-tidy/#id2)
- [eslint's --config](https://eslint.org/docs/user-guide/command-line-interface#options)
- etcetera

The approach taken here for finding configuration files through the project's path is very unpractical sometimes. What about a way to specify a custom config when linting s

[2019-09-25 03:30] ZaymonFC opened #367 "[CLI] - Can't specify a relative path on OSX."
### Description
Using the CLI on OSX is cumbersome since you need to specify the full path to the project or solution file.

`dotnet fsharplint -f src/project-name/Project.fsproj` fails with:
[code]

### Expected behavior
Should be able to specify a relative path to any `.fsproj` or `.sln`

### Known workarounds
Specify the `absolute` path to the project or solution file.

### Related information

[2019-09-26 03:44] ZaymonFC commented on #251
Yes.

[2019-10-08 05:30] ZaymonFC commented on #367
Resolved by #370

[2019-10-08 05:30] #367 closed

[2019-12-14 18:32] breki opened #372 "Should not suggest composition over lambdas like `fun x -> -sin x`"
### Description

FSharpLint suggests I should replace lambda expression like `fun x -> -sin x` with composition, which makes a much less legible code (like `sin >> ((*) -1.)` or `sin >> (~-)`).

### Repro steps

Define a lambda like
[code]

### Expected behavior
FSharpLint should accept the existing lambda expression as it is.

[2019-12-14 19:15] abelbraaksma commented on #372
While a good point for the case you mentioned, there are many cases where composition creates better readable code, like:

[code]

And many variants of that. Perhaps the rule could be tailored for cases that involve operators. Though personally, I don't mind seeing `(op)` in code.

BTW, your rewrite is not synonymous with the original. You wrote `sin >> (~-)`, but that should probably be `(~-) >>

[2019-12-14 19:32] dsyme commented on #372
My recommendation is to find criteria to reduce the recommendation of >> composition.

For example never for operators.

Perhaps some other cases too. See my talk "F# Code I Love" for exposition of some of this.

[2019-12-15 05:26] breki commented on #372
Yeah, sorry, it was suggested by someone on Twitter and I didn't really check it before posting it as an example here, my bad :-(.
I agree about the usefulness of composition, it's just that I don't feel the code is more readable in this particular case of a unary operator being applied.

[2020-02-11 10:38] SteveGilham opened #380 "FSharp.Compiler.Service v34.0 seems to have had a breaking API change"
### Description

After updating a Fake script to v5.19.1 from v5.19 (which updated from     FSharp.Compiler.Service (33.0.1) to FSharp.Compiler.Service (34.0.1))  and incidentally FSharpLint.Core from 0.12.5 to 0.12.10, the linting operation failed with exception

[code]

### Repro steps

Use the package versions specified above and run a Fake target like
[code]
### Expected behavior

Linting happ

[2020-02-14 08:46] duckmatt commented on #380
Thank you for the report, hopefully we should be on the updated fcs in the next day or so

[2020-02-18 16:03] palexcast commented on #343
Is there any update on how to solve this?

[2020-02-18 16:36] jgardella commented on #343
Thanks for the report @anchann and sorry for the delayed response. You are right that the way suppression works is confusing and poorly documented, I am currently rewriting this to use structured comments as you suggested in #345.

In the meantime, I believe to disable each rule you should use the rule name from the configuration in Pascal Case. For example, in your case for FL0039 I think this sh

[2020-02-20 19:44] SteveGilham commented on #380
Still reproduces on v0.13.0
[code]
with the fake task modified to take the FSharpLint API changes into account
[code]

[2020-02-21 08:42] SteveGilham commented on #380
Is it possible that something flaky is going on with optional arguments in this `Create` call?

Adding
[code]
ahead of the `Lint.lintFile` yields
[code]
with 2 trailing `option bool` arguments above and beyond the ones in the missing method signature.

[2020-02-21 09:38] SteveGilham commented on #380
More digging -- decompiling the v34.1 compiler services assembly shows that whether by design or oversight there's a parameter not marked as `[OptionalArgument]`
[code]
while decompiling the `Create()` call in FSharpLint 0.13.0 shows it's expanded to the missing method signature with fewer trailing arguments
[code]

[2020-02-21 14:55] jgardella commented on #380
Awesome @SteveGilham, thanks for investigating. #378 to update FCS to v34.0.1 is still in review, I think let's wait until that gets merged and we push a new version, and see if it resolves the issue. If it doesn't we can continue investigating, and maybe reach out to the FCS maintainers.

[2020-02-22 23:03] milbrandt commented on #364
A reduced example of my no longer reported 'new' when updating FSharp.Core from 4.6.2 to 4.7.0 I've provided at [https://github.com/milbrandt/RedundantNewFSharp470](https://github.com/milbrandt/RedundantNewFSharp470)

The update of FsharpLint to latest 0.13.1 didn't help (but required some work with the breaking changes in 0.12.7 and 0.13.0)

[2020-02-24 20:57] baronfel commented on #380
apologies for the API slippage on FCS, I missed this API in the merge. I've got an action item to add usage of the `dotnet synver` tool to the build process to help decide on what the correct version bump should be.

[2020-02-25 15:28] jgardella commented on #366
Thanks for the suggestion, as of v0.13.2 this is supported with the `--lint-config` flag.

[2020-02-25 15:28] #366 closed

[2020-02-25 15:31] jgardella commented on #362
@enricosada @baronfel As of v0.13.2, I updated the documentation so that every rule has its own page determined by its identifier (e.g. http://fsprojects.github.io/FSharpLint/rules/FL0001.html). The identifier is now exposed as part of each suggestion exposed by the call to the linter, so with these two thing you should be able to easily point to the correct documentation page without the need to

[2020-02-25 15:31] #362 closed

[2020-02-25 15:32] jgardella commented on #345
Thanks for the suggestion, this has been something I've been thinking about for a while too and finally got around to implementing it. See here for details: http://fsprojects.github.io/FSharpLint/Suppression.html

[2020-02-25 15:32] #345 closed

[2020-02-25 15:32] baronfel commented on #362
That's wonderful! I'll make an issue to update our page links to these new per-code pages.

[2020-02-25 15:37] jgardella commented on #380
Assuming this is fixed in FCS v34.0.1, v0.13.2 shouldn't have this issue. Appreciate if you could confirm @SteveGilham.

[2020-02-25 15:38] jgardella commented on #355
Thanks for the report, README is updated.

[2020-02-25 15:38] #355 closed

[2020-02-25 15:39] jgardella commented on #343
As of v0.13.2, suppression is done using structured comments, see the docs here: http://fsprojects.github.io/FSharpLint/Suppression.html and please open an issue if you see any mistakes or anything missing.

[2020-02-25 15:39] #343 closed

[2020-02-25 16:07] baronfel commented on #380
Thanks to this issue in part I've added [new checks](https://github.com/fsharp/FSharp.Compiler.Service/pull/930) to the FCS build and deploy pipeline that ensure we follow semver rules.  Thanks for raising the alarm, @SteveGilham!

[2020-02-25 18:17] SteveGilham commented on #380
This issue no longer reproduces with 0.13.2, now that I've tracked the FSharpLint API change between 0.13.1 and 0.13.2.

[2020-02-25 18:17] #380 closed

[2020-02-25 18:42] SteveGilham opened #386 "ArgumentOutOfRangeException while linting (FSharpLint.Core v0.13.2)"
### Description

[code]

### Repro steps

[code]
where the files are here [fsharplint.0.13.2.zip](https://github.com/fsprojects/FSharpLint/files/4251560/fsharplint.0.13.2.zip)

### Expected behavior

A clean lint report as at 0.12.5

### Actual behavior

Exception as above

### Known workarounds

Dropping all affected tools back to last known good versions

### Related information

* Operating sys

[2020-02-25 19:54] jgardella commented on #386
Thanks for the detailed report. I investigated with your example file and it seems the issue is coming up with your `#if NETCOREAPP2_0` line. Not sure why but the length of the whitespace token for the space between `#if` and the rest is 17, causing the code pulling out the token text using substring on the line to fail. I have updated it to to perform the substring based on the left and right col

[2020-02-25 20:33] jgardella commented on #386
@SteveGilham v0.13.3 is released with this fix, can you give it a try when you have a moment?

[2020-02-26 08:40] SteveGilham commented on #386
This ran through for the whole project without raising any exceptions.  Thanks for the quick turn-around.

[2020-02-26 08:40] #386 closed

[2020-02-28 20:21] jgardella commented on #247
This is available as of v0.13.1 using the [new structured comments for suppression](http://fsprojects.github.io/FSharpLint/Suppression.html). Specifically, you can put `// fsharplint:disable` at the top of the file to disable linting for the whole file.

[2020-02-28 20:21] #247 closed

[2020-03-07 21:39] kerams commented on #372
@abelbraaksma

No, yours isn't ;). First apply `sin`, then negate. It's just that it makes no difference in the case of sine since `sin -x = -sin x`

[2020-03-14 16:12] milbrandt commented on #386
Thanks, I had the issue in https://github.com/jmecsoftware/sonar-fsharp-plugin/pull/84 and wanted to investigate today. Thought I had broken something in upgrading from 0.12.
Unfortunatetly XML config is gone with 0.13.2 so there is no easy upgrade to fix it.

[2020-03-23 08:35] milbrandt opened #392 "New rule proposal: Track uses of "TODO" tags"
### Description

TODO tags are commonly used to mark places where some more code is required, but which the developer wants to implement later.
Sometimes the developer will not have the time or will simply forget to get back to that tag.
This rule is meant to track those tags and to ensure that they do not go unnoticed.

### Expected behavior

Report `TODO`and synonymns, see at http://wordaligned.

[2020-03-23 08:53] duckmatt commented on #392
Thanks, good suggestion!

[2020-03-23 10:41] abelbraaksma commented on #392
You may find it interesting to check the code of F# Powertools. It's not supported after VS2017, but it supported task lists of TODO and FIXME and the like: https://github.com/fsprojects/Archive-VisualFSharpPowerTools/blob/master/README.md

[2020-03-23 11:10] milbrandt opened #393 "Rule FL0016 "failwithWithSingleArgument" missing"
### Description

Rule description http://fsprojects.github.io/FSharpLint/rules/FL0016.html

In [DefaultConfiguration.json](https://github.com/fsprojects/FSharpLint/blob/master/src/FSharpLint.Core/DefaultConfiguration.json) the configuration `failwithWithSingleArgument` is missing.

### Expected behavior

All rules are implemeneted and configured in `DefaultConfiguration.json`

### Actual behavior

[2020-03-23 19:36] milbrandt opened #395 "New rule proposal: Avoid commented-out lines of code"
### Description

Commented-out lines should be removed before release. It might already be broken.
If old code is later required again, it will be available in source code management system.

See also:

- [Robert C. Martin's Clean Code Tip of the Week #7: Clean up Old Commented Out Code](https://www.informit.com/articles/article.aspx?p=1334908)
- [Can commented-out code be valuable documentation?]

[2020-03-24 17:28] milbrandt opened #396 "Sync Rule settings in docu with DefaultConfiguration.json"
### Description

Configuration in `src\FSharpLint.Core\DefaultConfiguration.json` differs from configuration in "Rule Settings" sections of documentation in folder `docs-gen\markdown`

### Repro steps

E.g. for rule [FL0027](http://fsprojects.github.io/FSharpLint/rules/FL0027.html)

* In  `src\FSharpLint.Core\DefaultConfiguration.json` line 70-75:
[code]
* In `docs-gen\markdown\rules\FL0027.md ` s

[2020-04-01 13:05] akhansari opened #398 "Add flag to treat warnings as errors"
### Description

It could be pretty useful to add a flag on `lint` in order to treat warnings as errors or just let all issues to be errors.

[2020-04-01 16:22] akhansari opened #399 "NetCore 3.1 support"
### Description

FSharpLint doesn't support NetCore 3.1

### Repro steps

1. Only SDK 3.1 is installed (docker 3.1-alpine)
1. `dotnet tool restore` or `dotnet tool install dotnet-fsharplint`
1. `dotnet fsharplint lint <input>`
1. Error: The framework 'Microsoft.NETCore.App', version '2.1.0' was not found.

### Known workarounds

Also install the SDK 2.1

### Related information

* Operating system

[2020-04-01 16:46] akhansari commented on #398
I think it's not needed.

I didn't pay attention that the exit code is equal to 1 when there is lint issues. That's what I wanted 👍

[2020-04-01 16:46] #398 closed

[2020-04-04 18:43] milbrandt opened #404 "Checks passed in PR even when build fails"
### Description

Build steps report Errors (on multitargeting `FSharpLint.Console`) but check in PR passes.

### Repro steps

see build https://ci.appveyor.com/project/duckmatt/fsharplint-231/builds/31954484 of PR #403

### Expected behavior

If not all steps of the build are successfull, the check should not pass

### Actual behavior

Check passed, even when build not successful

#### From AppVey

[2020-04-09 09:09] atheck opened #405 "Linter is ignoring config file"
### Description

I have a very simple fs file:

[code]

When linting the file with dotnet-fsharplint it tells me:
`Consider changing `Signature` to be prefixed with `I`.`

Now I want to disable this rule with the following fsharplint.json:

[code]

I tried it with "interfaceNames" and on CLI with the `--lint-config fsharplint.json` parameter, but nothing works.

What am I doing wrong?

### Expecte

[2020-04-12 13:36] duckmatt commented on #396
Thank you for pointing this out, updated in https://github.com/fsprojects/FSharpLint/pull/408

[2020-04-12 13:36] #396 closed

[2020-04-12 16:03] duckmatt commented on #393
Thank you, you're right, I've added this back in via https://github.com/fsprojects/FSharpLint/pull/409

[2020-04-12 16:03] #393 closed

[2020-04-17 09:46] Krzysztof-Cieslak opened #410 "New nuget release"
Hey,

Could you do new release of NuGet package? In general, we'd love to see releases after updating FCS as quickly as possible - otherwise, it's blocking us in FSAC/Ionide.

[2020-04-17 20:10] duckmatt commented on #410
Apologies for the slowness on this, it was supposed to be released a few days back but the pipeline appears to be failing on master, taking a look

[2020-04-17 23:34] duckmatt commented on #410
CI issue resolved via https://github.com/fsprojects/FSharpLint/pull/411, released `0.14.0`

[2020-04-17 23:34] #410 closed

[2020-04-18 09:29] Krzysztof-Cieslak commented on #410
Awesome, thanks a lot ❤️

[2020-04-18 11:57] nojaf opened #412 "error getting FSC args from msbuild info,"
### Description

I could not lint the [Fantomas project](https://github.com/fsprojects/fantomas) via command line tool.

### Repro steps

Please provide the steps required to reproduce the problem

1. Fork Fantomas

2. Install local tool

3. Run tool

### Expected behavior

Tools works and points out what code can use improvements.

### Actual behavior

[code]

### Known workarounds

/

### Relate

[2020-04-21 13:47] milbrandt commented on #412
Why are you are using `<TargetFrameworks>netstandard2.0</TargetFrameworks>`? As only netstandard2.0 is targeted, just use `<TargetFramework>`. I assume it will work then.

In #403 I observed the same issue for `TargetFrameworks` for multi-targetting netcoreapp2.1 and 3.1.

[2020-04-23 07:54] Shmew commented on #412
I get the same error when using `<TargetFramework>netstandard2.0</TargetFramework>`

[2020-05-02 06:06] vrescobar opened #415 "Documentation/request on suppressing warnings for whole types (mostly JS externs)"
### Description

Documentation on suppressing warnings for types and structures.

I just read the ticket #343 and for me it is not yet clear how to use the `[<SuppressMessage("*", "RecordFieldNames")>]` code for a whole type structure.

Not sure if this issue falls as documentation issue, feature request or bug.

### Repro steps

I have a project where I use Fable and I have a record which directl

[2020-05-02 18:19] #399 closed

[2020-05-02 18:31] duckmatt commented on #415
Hello, thank you for raising this, it should be possible to wrap the type with comments e.g.

[code]

I'll take a look at updating the documentation, the existing sample appears to be broken and the most common case is probably the above so should be covered.

[2020-05-03 07:07] vrescobar commented on #415
Thanks for the answer.
I guess that's the smart way, somehow I thought the `disable` was permanently disabling the linter for the rest of the file and didn't realize that the `enable` was actually meant to make such blocks possible. #close

[2020-05-03 07:07] #415 closed

[2020-05-09 15:26] duckmatt opened #419 "Performance Regression"
### Description

Performance test is failing locally, previously ran under 200ms and now taking around 4s. It is a very large file the test operates on, so for your average file it's still operating somewhat efficiently. However no big default features have been added so there's no good reason for this degradation, we should look at getting it back where it was

### Repro steps

Run the performanc

[2020-05-13 18:44] jgardella commented on #412
Hey @nojaf, thanks for the detailed report and sorry for the delayed response.

This error comes up when you have a project with `TargetFrameworks`, which we are working on fixing. I tried to fork Fantomas and reproduce but I didn't have any issues; I think you may have removed the multi-targeting since you reported this issue. Could you confirm it's working now? If you have any other issues pleas

[2020-05-13 19:52] #419 closed

[2020-05-13 19:59] jgardella commented on #405
Hey @atheck, thanks for the report. This is my fault, I updated the docs to reflect the new config layout before I actually released the version that uses that new config. Could you update to the latest version and try this again? I think it should work now. Thanks.

[2020-05-14 06:29] nojaf commented on #412
Hey @jgardella , we did indeed change TargetFrameworks to TargetFramework.
I had the same problem as @Shmew that is didn't appear to resolve the issue.
I'll check again tomorrow to verify your findings.

[2020-05-14 06:40] Shmew commented on #412
I solved the problem when I updated the script I use that programmatically runs FSharpLint (so I can generate an xml report to publish to Azure DevOps).

[2020-05-14 14:36] atheck commented on #405
Thank you a lot, it's working now.

One more issue:

The docs say:

I took a look into the source code and I think this is not working at the moment.

[2020-05-15 14:52] nojaf commented on #412
After trying this again @jgardella it worked just fine.
Thanks everybody for the assist.

[2020-05-15 14:52] #412 closed

[2020-05-16 21:48] jgardella commented on #405
Thanks @atheck, this must have been overlooked during some refactoring.

@duckmatt do you think it makes sense to automatically try to load a configuration from `fsharplint.json`? Or should we always use the default configuration and only use a config file if it's explicitly specified?

[2020-05-18 07:03] Grenkin1988 commented on #405
It looks like `"IgnoreFiles"` is ignored when running tool on files by file bases, this is by design?

[2020-05-18 07:41] Grenkin1988 opened #423 "Hint "x = true ===> x" is triggered by simple object creation or optional arguments"
### Description

Tool is reporting error `(FL0065): Hints `x = true` might be able to be refactored into `x`.` for the simple object creation process or optional arguments

### Repro steps

Optional argument:
1. `Http.AsyncRequest("someSite", silentHttpErrors = true) |> Async.RunSynchronously`
2. -> `(FL0065): Hints - Error: `x = true` might be able to be refactored into `x`. on the (48 - 48)`

Ob

[2020-05-18 08:03] Grenkin1988 commented on #423
Actually same happens for the Hint `"x = null ===> isNull x",`
Just modify:
[code]

[2020-05-18 11:06] Grenkin1988 opened #424 "(FL0034): ReimplementsFunction shown error, but after implementing suggestion build fails"
### Description

Please provide a succinct description of your issue.
I have a C# class with constructor accepting `Func...` as parameter.
Creation of object in F# and using applied function as argument gives Lint error, but after fixing it based on suggestion code does not compile.
In order to compile I need to instantiate instance of `Func`
So, the question is: Is it really more preferable way o

[2020-05-18 14:51] jbeeko opened #425 "Expect Units of Measure names to be camel case"
### Description

Unit of Measure names are expected to be PascalCase by default. I believe this is a regression of this issue #139

### Repro steps

Create a file called `test.fsx` with the following content:
[code]
Install FSharpLint and run:
`$ dotnet fsharplint lint test.fsx`
### Expected behavior

No lint warnings.

### Actual behaviour

The following warning is raised.
[code]

### Known worka

[2020-05-18 21:15] jgardella commented on #395
I think this would be a useful rule to have, but it may be difficult to implement. How can we tell apart normal comments from commented-out code? We would need to come up with some heuristic.

[2020-05-19 06:53] milbrandt commented on #395
I have not investigated how other analysers do the job. But there are some, which do that for other languages, like the [C# analyzer, Rule S125](https://github.com/SonarSource/sonar-dotnet) from SonarQube.

Without knowing in detail what they do my first idea:
- XML doc comments are always valid and will not be reported
- other commented lines "remove the comment and try non-empty lines to tokeniz

[2020-05-19 18:57] jgardella commented on #424
Thanks for the detailed report @Grenkin1988. This is definitely an issue. It's happening because C# style delegates only get automatically converted for lambda functions. I would say this is a valid use case and the linter shouldn't report an issue here.

We can try to update the rule to check if the parameter the lambda is being passed to is a delegate (`System.Func` or `System.Action`) and not r

[2020-05-19 20:29] jgardella commented on #425
Thanks @jbeeko for the detailed report, this was fixed in #427 and released in v0.14.1.

[2020-05-19 20:29] #425 closed

[2020-05-19 21:54] jgardella commented on #404
Thanks @milbrandt, good catch. I fixed this in #426. The build was failing because I forgot to install the dotnet tool to run as part of our build process. And it seems it wasn't killing the overall build because I had `IgnoreExitCode` set to `true` in the MSBuild target.

[2020-05-19 21:54] #404 closed

[2020-05-27 21:27] jgardella opened #434 "FSharpLint v1"
Creating this issue for tracking and discussing FSharpLint v1. This will give us a chance to get some breaking changes out of the way and overall put the lint tool and the API into a better state.

**Required**

- [ ] Support multi-target files
- [ ] Re-evaluate default rules. Personally I would like the default rules to align with the official F# style guide, but I think that guide is not as offi

[2020-05-27 21:29] jgardella opened #435 "Linter fails for multi-targeted projects"
### Description

Linter fails for multi-targeted projects.

### Repro steps

Run the linter against a project with `<TargetFrameworks>` set. It will fail to lint with an MSBuild error.
This seems to be an issue with how we use `dotnet-proj-info`.

[2020-05-27 21:39] jgardella opened #436 "Default rules for v1"
What should the default rules be for FSharpLint? We can update them as part of the v1 release.

I would like them to align with the [F# style guide](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/) as much as possible, but if there are points of contention there we can work to update the guide to be aligned with community opinion first, and then set the default rules based on that.

[2020-05-27 21:44] jgardella commented on #436
My initial proposal (omitting hints):

One point of contention might be the `typedItemSpacing` rule being enabled, or the default setting. The rule checks the spacing around the colon in code like: `x : int`, and has three settings: `SpacesAround`, `SpaceAfter`, or `NoSpace`.

[code]

[2020-05-27 23:07] duckmatt commented on #436
I'm not 100% sure about the formatting rules, I think if we enable them by default it will cause a lot of noise - hopefully most projects are keeping their formatting somewhat consistent so if a rule is broken it's likely broken consistently throughout their project. In the case of the console app I think it's potentially acceptable as someone is choosing to run the tool, but when it comes combine

[2020-05-28 19:55] jgardella commented on #436
In my opinion I think we should take this opportunity to align the default rules as much with community opinion on correct style as possible; based on the current style guide most of the formatting rules would be part of that and enabled by default. I do see the concern with IDE users; is the main concern there with Ionide? I suppose some people are probably using Ionide without realising some of

[2020-05-30 20:56] milbrandt commented on #434
IMHO the issue #364 with `redundantNewKeyword` should be analyzed and fixed for release v1. Neither Steve's required `new` marked redundant nor my `new`no longer marked redundant with upgrading to F# 4.7 is satisfying. It might be that's not even an issue here in FSharpLint. But if upgrading compiler from 4.6.2 to 4.7 change the lint results then this leaves doubts on other linting results.

[2020-05-30 21:06] milbrandt commented on #436
At least the [Community SonarQbe F# plugin](https://github.com/jmecsoftware/sonar-fsharp-plugin) is only using FSharpLint and not Fantomas, as it only scans and will not format on it's own. So I'm in great favour of keeping all rules here in FSharpLint.

[2020-05-30 21:36] milbrandt commented on #436
IMHO following rules should be activated by default:
- trailingWhitespaceOnLine - editors can fix this on saving (no whitespaces at line end) and it reduces merge conflicts
- maxNumberOfBooleanOperatorsInCondition - the limit is difficult to define, but helps to keep the code maintainable
- nestedStatements - see maxNumberOfBooleanOperatorsInCondition for the reasons
- maxCharactersOnLine - in a f

[2020-05-30 21:40] duckmatt commented on #436
By delegate, I mean making use of Fantomas in some way as a library, it has had years of good work put into it, if we do formatting it makes sense to leverage that. Their tool is more popular and already integrated into both Rider and Ionide, having duplicate rules in the two tools which could behave differently doesn't feel like a good direction to be heading in. Although I do still feel having a

[2020-05-30 21:44] duckmatt commented on #436
Agree on these, although `maxCharactersOnLine` by default in an IDE is potentially controversial. I'd be tempted for a minimum of 120 which seems to have taken over from 80

[2020-05-31 07:18] milbrandt commented on #436
120 is perfectly fine for me - I know it's controversial and wanted to point out that there are still today reasons (company rules and maintainability, I know that some people say even set a limit of 200)

[2020-05-31 18:21] jgardella commented on #436
I am definitely open to this, but would want to see what this implementation would look like; from a quick glance at the Fantomas API I'm not sure if it would be easy to achieve right now. Maybe @nojaf could provide some insight. In any case it will be good to have a discussion about how Fantomas and FSharpLint can work together to achieve their similar goals.

Yes, this makes sense, and I agree i

[2020-05-31 18:23] jgardella commented on #436
I agree on the controversy with having it on by default. For me it is something I keep disabled and keep max characters as more of a common sense/best judgement decision. And it may be difficult to come up with a setting that everyone would be happy with as a default. So I would prefer to have this disabled by default.

[2020-05-31 18:36] jgardella commented on #434
@milbrandt Agreed, I will add it to the list.

[2020-06-01 15:02] Krzysztof-Cieslak commented on #436
My controversial opinion (and somehow related to the IDE part of the discussion) - things like `maxCharactersOnLine` or `trailingWhitespaceOnLine` shouldn't be part of FSharpLint at all. They can be handled by standard tools like [EditorConfig](https://editorconfig.org/) that already has support in various (most) IDEs.

[2020-06-01 22:00] Krzysztof-Cieslak commented on #435
I'll investigate this tomorrow

[2020-06-01 22:03] jgardella commented on #436
@Krzysztof-Cieslak We welcome all opinions and would like to hear more of them, controversial or otherwise! :)

I see what you're saying about those rules being covered by EditorConfig. However I do still see value in having them in FSharpLint so that they can also be verified as part of a build pipeline by running the linter. EditorConfig and similar tools may be able to check these things, but w

[2020-06-02 19:38] nojaf commented on #436
Hello @jgardella, some input in regards to Fantomas:
- Settings are hard. Default settings are even harder.
We've been using configuration files in Fantomas for 4 months now and it hard to say much about it. We don't really have any data of what settings people actually override, so it difficult to say if our defaults are good.
- We try to align to the F# style guide by MS for our settings but I'm

[2020-06-03 16:20] jgardella commented on #436
Thanks for the info @nojaf. Regarding .editorconfig I agree there are a lot of questions there, and that is not something we are targeting supporting for the v1 release. I think the idea of sharing settings between FSharpLint and Fantomas would make sense; possibly we could have a separate project which parses F# rules from editorconfig (the glossary you mentioned), and then FSharpLint and Fantoma

[2020-06-05 22:32] jmhickman commented on #336
Came here searching for a solution to this. Wanted to find ways to improve my code because I'm still learning, and I guess I can't because it's a Framework project? Should I have inferred from the use of the `dotnet` tool that this is for Core projects only?

[2020-06-05 23:12] abelbraaksma commented on #336
@jmhickman, it used to work, in fact, there was even a VS extension before Core projects even existed. But that project wasn't ported to newer VS versions (but the command line version still worked). Now there's apparently a bug that stops us from using it with the classic project style.

[2020-06-06 23:51] mydogisbox opened #439 "Lint suggests "not (isNull x)" over "x <> null""
### Description

The linter suggests replacing a null check (`x <> null`) with the more complicated `not (isNull x)`. I'm not coming up with any cases where I think a null check would be better as `not (isNull x)`.

![image](https://user-images.githubusercontent.com/814869/83956657-0ab3ca80-a826-11ea-9692-2736075365dc.png)

### Repro steps

Please provide the steps required to reproduce the proble

[2020-06-07 01:22] abelbraaksma commented on #439
I believe the motivation is that the operator can be overloaded or overridden, therefore it's generally better to use `isNull` and `not << isNull` and variants which are unambiguous and will always create the same optimized opcode. A similar rule exists in C# FxCop.

I don't like the verbosity either, so I just have `isNotNull: 'a -> bool` for the rare cases I need it (rarely ever, it's F# after a